Repository apache/dolphinscheduler, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SbloodyS, @Gallardot, @caishunfeng, @ruanwenjun, @EricGao888, @zhuangchong, @songjianet, @Amy0104

[Fix-15644][ui] fix ui Failed to query list after editing file (#15647)
  dolphinscheduler-ui/src/views/resource/components/resource/edit/index.tsx
  dolphinscheduler-ui/src/views/resource/components/resource/edit/use-edit.ts
Owners: @songjianet, @Amy0104

[Fix-15644][ui] fix ui Failed to query list after editing file (#15647)
  dolphinscheduler-ui/src/views/resource/components/resource/edit/index.tsx
  dolphinscheduler-ui/src/views/resource/components/resource/edit/use-edit.ts
Owners: @songjianet, @Amy0104

fix offline workflow error
  dolphinscheduler-ui/src/layouts/content/use-dataList.ts
  dolphinscheduler-ui/src/locales/en_US/about.ts
  dolphinscheduler-ui/src/locales/en_US/index.ts
  dolphinscheduler-ui/src/locales/zh_CN/index.ts
  dolphinscheduler-ui/src/views/about/index.tsx
  dolphinscheduler-ui/src/views/projects/components/dependencies/use-dependencies.ts
Owners: @songjianet, @Amy0104

mvn spotless:apply
  docs/docs/en/history-versions.md
Owners: @EricGao888, @SbloodyS

fix offline workflow error (#16330)
  dolphinscheduler-ui/src/layouts/content/use-dataList.ts
  dolphinscheduler-ui/src/locales/en_US/about.ts
  dolphinscheduler-ui/src/locales/en_US/index.ts
  dolphinscheduler-ui/src/locales/zh_CN/index.ts
  dolphinscheduler-ui/src/views/about/index.tsx
  dolphinscheduler-ui/src/views/projects/components/dependencies/use-dependencies.ts
Owners: @songjianet, @Amy0104

fix offline workflow error (#16330)
  dolphinscheduler-ui/src/layouts/content/use-dataList.ts
  dolphinscheduler-ui/src/locales/en_US/about.ts
  dolphinscheduler-ui/src/locales/en_US/index.ts
  dolphinscheduler-ui/src/locales/zh_CN/index.ts
  dolphinscheduler-ui/src/views/about/index.tsx
  dolphinscheduler-ui/src/views/projects/components/dependencies/use-dependencies.ts
Owners: @songjianet, @Amy0104

fix issue 15519 (#16325)
  docs/docs/en/guide/task/datax.md
  docs/docs/zh/guide/task/datax.md
Owners: @EricGao888, @SbloodyS

fix issue 15519 (#16325)
  docs/docs/en/guide/task/datax.md
  docs/docs/zh/guide/task/datax.md
Owners: @EricGao888, @SbloodyS

[Improvement][Helm] Support for updateStrategy
  deploy/kubernetes/dolphinscheduler/README.md
  deploy/kubernetes/dolphinscheduler/templates/_helpers.tpl
  deploy/kubernetes/dolphinscheduler/templates/statefulset-dolphinscheduler-master.yaml
  deploy/kubernetes/dolphinscheduler/templates/statefulset-dolphinscheduler-worker.yaml
  deploy/kubernetes/dolphinscheduler/values.yaml
Owners: @Gallardot

[Fix-16308] Fix query resources list paging error and docs. (#16324)
  docs/docs/en/guide/installation/cluster.md
  docs/docs/en/guide/installation/kubernetes.md
  docs/docs/en/guide/installation/pseudo-cluster.md
  docs/docs/en/guide/installation/standalone.md
  docs/docs/zh/guide/installation/cluster.md
  docs/docs/zh/guide/installation/kubernetes.md
  docs/docs/zh/guide/installation/pseudo-cluster.md
  docs/docs/zh/guide/installation/standalone.md
  dolphinscheduler-storage-plugin/dolphinscheduler-storage-hdfs/src/main/java/org/apache/dolphinscheduler/plugin/storage/hdfs/HdfsStorageOperator.java
Owners: @EricGao888, @SbloodyS, @ruanwenjun

[Fix-16308] Fix query resources list paging error and docs. (#16324)
  docs/docs/en/guide/installation/cluster.md
  docs/docs/en/guide/installation/kubernetes.md
  docs/docs/en/guide/installation/pseudo-cluster.md
  docs/docs/en/guide/installation/standalone.md
  docs/docs/zh/guide/installation/cluster.md
  docs/docs/zh/guide/installation/kubernetes.md
  docs/docs/zh/guide/installation/pseudo-cluster.md
  docs/docs/zh/guide/installation/standalone.md
  dolphinscheduler-storage-plugin/dolphinscheduler-storage-hdfs/src/main/java/org/apache/dolphinscheduler/plugin/storage/hdfs/HdfsStorageOperator.java
Owners: @EricGao888, @SbloodyS, @ruanwenjun

improve frontend ci check
  .github/workflows/frontend.yml
  dolphinscheduler-ui/src/views/resource/components/resource/edit/index.tsx
  dolphinscheduler-ui/src/views/resource/components/resource/edit/use-edit.ts
Owners: @SbloodyS, @songjianet, @Amy0104

improve frontend ci check
  .github/workflows/frontend.yml
Owners: @SbloodyS

improve frontend ci check
  .github/workflows/frontend.yml
Owners: @SbloodyS

improve frontend ci check
  .github/workflows/frontend.yml
Owners: @SbloodyS

[Fix-16331] fix the resource file cannot be displayed hierarchically
  dolphinscheduler-alert/dolphinscheduler-alert-server/src/main/bin/start.sh
  dolphinscheduler-storage-plugin/dolphinscheduler-storage-hdfs/src/main/java/org/apache/dolphinscheduler/plugin/storage/hdfs/HdfsStorageOperator.java
Owners: @SbloodyS, @ruanwenjun

[Improvement][Helm] Support for updateStrategy (#16334)
  deploy/kubernetes/dolphinscheduler/README.md
  deploy/kubernetes/dolphinscheduler/templates/_helpers.tpl
  deploy/kubernetes/dolphinscheduler/templates/statefulset-dolphinscheduler-master.yaml
  deploy/kubernetes/dolphinscheduler/templates/statefulset-dolphinscheduler-worker.yaml
  deploy/kubernetes/dolphinscheduler/values.yaml
Owners: @Gallardot

[Improvement][Helm] Support for updateStrategy (#16334)
  deploy/kubernetes/dolphinscheduler/README.md
  deploy/kubernetes/dolphinscheduler/templates/_helpers.tpl
  deploy/kubernetes/dolphinscheduler/templates/statefulset-dolphinscheduler-master.yaml
  deploy/kubernetes/dolphinscheduler/templates/statefulset-dolphinscheduler-worker.yaml
  deploy/kubernetes/dolphinscheduler/values.yaml
Owners: @Gallardot

Update start.sh
  dolphinscheduler-alert/dolphinscheduler-alert-server/src/main/bin/start.sh
Owners: @SbloodyS

[Chore] Improve frontend ci check (#16335)
  .github/workflows/frontend.yml
  dolphinscheduler-ui/src/views/resource/components/resource/edit/index.tsx
  dolphinscheduler-ui/src/views/resource/components/resource/edit/use-edit.ts
Owners: @SbloodyS, @songjianet, @Amy0104

[Chore] Improve frontend ci check (#16335)
  .github/workflows/frontend.yml
  dolphinscheduler-ui/src/views/resource/components/resource/edit/index.tsx
  dolphinscheduler-ui/src/views/resource/components/resource/edit/use-edit.ts
Owners: @SbloodyS, @songjianet, @Amy0104

remove redundant query
  dolphinscheduler-api/src/test/java/org/apache/dolphinscheduler/api/service/UsersServiceTest.java
  dolphinscheduler-dao/src/main/java/org/apache/dolphinscheduler/dao/entity/Project.java
  dolphinscheduler-dao/src/main/resources/org/apache/dolphinscheduler/dao/mapper/ProjectMapper.xml
  dolphinscheduler-ui/src/locales/en_US/project.ts
  dolphinscheduler-ui/src/locales/zh_CN/project.ts
  dolphinscheduler-ui/src/views/projects/list/use-table.ts
Owners: @caishunfeng, @SbloodyS, @ruanwenjun, @songjianet, @Amy0104

remove redundant query
  dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/service/impl/ProjectServiceImpl.java
  dolphinscheduler-dao/src/main/java/org/apache/dolphinscheduler/dao/entity/ProjectProcessDefinitionCount.java
  dolphinscheduler-dao/src/main/java/org/apache/dolphinscheduler/dao/mapper/ProcessDefinitionMapper.java
  dolphinscheduler-dao/src/main/resources/org/apache/dolphinscheduler/dao/mapper/ProcessDefinitionMapper.xml
  dolphinscheduler-dao/src/main/resources/org/apache/dolphinscheduler/dao/mapper/ProjectMapper.xml
  dolphinscheduler-e2e/dolphinscheduler-e2e-case/src/test/java/org/apache/dolphinscheduler/e2e/pages/resource/FileManagePage.java
Owners: @caishunfeng, @SbloodyS, @ruanwenjun

remove redundant query
  dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/service/impl/ProjectServiceImpl.java
  dolphinscheduler-e2e/dolphinscheduler-e2e-case/src/test/java/org/apache/dolphinscheduler/e2e/pages/resource/FileManagePage.java
Owners: @caishunfeng, @SbloodyS

fix 15927
  docs/docs/en/guide/task/dependent.md
  docs/docs/zh/guide/task/dependent.md
Owners: @EricGao888, @SbloodyS

fix 15927
  docs/docs/en/guide/task/dependent.md
  docs/docs/zh/guide/task/dependent.md
Owners: @EricGao888, @SbloodyS

Update HdfsStorageOperator.java
  dolphinscheduler-storage-plugin/dolphinscheduler-storage-hdfs/src/main/java/org/apache/dolphinscheduler/plugin/storage/hdfs/HdfsStorageOperator.java
Owners: @ruanwenjun, @SbloodyS

Update helm tag
  deploy/kubernetes/dolphinscheduler/Chart.yaml
Owners: @Gallardot

fix 15927
  docs/docs/en/guide/task/dependent.md
  docs/docs/zh/guide/task/dependent.md
Owners: @EricGao888, @SbloodyS

[Fix-15927] Polish dependent task docs. (#16342)
  docs/docs/en/guide/task/dependent.md
  docs/docs/zh/guide/task/dependent.md
Owners: @EricGao888, @SbloodyS

[Fix-15927] Polish dependent task docs. (#16342)
  docs/docs/en/guide/task/dependent.md
  docs/docs/zh/guide/task/dependent.md
Owners: @EricGao888, @SbloodyS

fix flaky e2e test
  dolphinscheduler-e2e/dolphinscheduler-e2e-case/src/test/java/org/apache/dolphinscheduler/e2e/pages/resource/FileManagePage.java
Owners: @SbloodyS

[Improvement-15448] Remove redundant query in project list (#16341)
  dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/service/impl/ProjectServiceImpl.java
  dolphinscheduler-api/src/test/java/org/apache/dolphinscheduler/api/service/UsersServiceTest.java
  dolphinscheduler-dao/src/main/java/org/apache/dolphinscheduler/dao/entity/Project.java
  dolphinscheduler-dao/src/main/java/org/apache/dolphinscheduler/dao/entity/ProjectProcessDefinitionCount.java
  dolphinscheduler-dao/src/main/java/org/apache/dolphinscheduler/dao/mapper/ProcessDefinitionMapper.java
  dolphinscheduler-dao/src/main/resources/org/apache/dolphinscheduler/dao/mapper/ProcessDefinitionMapper.xml
  dolphinscheduler-dao/src/main/resources/org/apache/dolphinscheduler/dao/mapper/ProjectMapper.xml
  dolphinscheduler-e2e/dolphinscheduler-e2e-case/src/test/java/org/apache/dolphinscheduler/e2e/pages/resource/FileManagePage.java
  dolphinscheduler-ui/src/locales/en_US/project.ts
  dolphinscheduler-ui/src/locales/zh_CN/project.ts
  dolphinscheduler-ui/src/views/projects/list/use-table.ts
Owners: @caishunfeng, @SbloodyS, @ruanwenjun, @songjianet, @Amy0104

[Improvement-15448] Remove redundant query in project list (#16341)
  dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/service/impl/ProjectServiceImpl.java
  dolphinscheduler-api/src/test/java/org/apache/dolphinscheduler/api/service/UsersServiceTest.java
  dolphinscheduler-dao/src/main/java/org/apache/dolphinscheduler/dao/entity/Project.java
  dolphinscheduler-dao/src/main/java/org/apache/dolphinscheduler/dao/entity/ProjectProcessDefinitionCount.java
  dolphinscheduler-dao/src/main/java/org/apache/dolphinscheduler/dao/mapper/ProcessDefinitionMapper.java
  dolphinscheduler-dao/src/main/resources/org/apache/dolphinscheduler/dao/mapper/ProcessDefinitionMapper.xml
  dolphinscheduler-dao/src/main/resources/org/apache/dolphinscheduler/dao/mapper/ProjectMapper.xml
  dolphinscheduler-e2e/dolphinscheduler-e2e-case/src/test/java/org/apache/dolphinscheduler/e2e/pages/resource/FileManagePage.java
  dolphinscheduler-ui/src/locales/en_US/project.ts
  dolphinscheduler-ui/src/locales/zh_CN/project.ts
  dolphinscheduler-ui/src/views/projects/list/use-table.ts
Owners: @caishunfeng, @SbloodyS, @ruanwenjun, @songjianet, @Amy0104

Fix JdbcRegistry will get duplicate children
  dolphinscheduler-registry/dolphinscheduler-registry-plugins/dolphinscheduler-registry-it/src/test/java/org/apache/dolphinscheduler/plugin/registry/RegistryTestCase.java
  dolphinscheduler-registry/dolphinscheduler-registry-plugins/dolphinscheduler-registry-jdbc/src/main/java/org/apache/dolphinscheduler/plugin/registry/jdbc/JdbcRegistry.java
Owners: @ruanwenjun, @Gallardot

[Chore] 3.2.2-release doc (#16326)
  docs/configs/index.md.jsx
  docs/configs/site.js
  docs/docs/en/history-versions.md
  docs/docs/zh/history-versions.md
Owners: @EricGao888, @SbloodyS

[Chore] 3.2.2-release doc (#16326)
  docs/configs/index.md.jsx
  docs/configs/site.js
  docs/docs/en/history-versions.md
  docs/docs/zh/history-versions.md
Owners: @EricGao888, @SbloodyS

Fix JdbcRegistry will get duplicate children (#16348)
  dolphinscheduler-registry/dolphinscheduler-registry-plugins/dolphinscheduler-registry-it/src/test/java/org/apache/dolphinscheduler/plugin/registry/RegistryTestCase.java
  dolphinscheduler-registry/dolphinscheduler-registry-plugins/dolphinscheduler-registry-jdbc/src/main/java/org/apache/dolphinscheduler/plugin/registry/jdbc/JdbcRegistry.java
Owners: @ruanwenjun, @Gallardot

Fix JdbcRegistry will get duplicate children (#16348)
  dolphinscheduler-registry/dolphinscheduler-registry-plugins/dolphinscheduler-registry-it/src/test/java/org/apache/dolphinscheduler/plugin/registry/RegistryTestCase.java
  dolphinscheduler-registry/dolphinscheduler-registry-plugins/dolphinscheduler-registry-jdbc/src/main/java/org/apache/dolphinscheduler/plugin/registry/jdbc/JdbcRegistry.java
Owners: @ruanwenjun, @Gallardot

Modify transfer characters
  docs/docs/en/history-versions.md
  docs/docs/zh/history-versions.md
Owners: @EricGao888, @SbloodyS

.github/CODEOWNERS:

#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

/.github/ @SbloodyS
/deploy/ @SbloodyS
/deploy/kubernetes/ @Gallardot
/dolphinscheduler-alert/ @SbloodyS
/dolphinscheduler-api/ @caishunfeng @SbloodyS
/dolphinscheduler-api-test/ @SbloodyS
/dolphinscheduler-authentication/ @ruanwenjun
/dolphinscheduler-bom/ @ruanwenjun
/dolphinscheduler-common/ @SbloodyS
/dolphinscheduler-dao/  @SbloodyS @ruanwenjun
/dolphinscheduler-dao-plugin/ @SbloodyS @ruanwenjun
/dolphinscheduler-data-quality/ @SbloodyS
/dolphinscheduler-datasource-plugin/ @SbloodyS
/dolphinscheduler-dist/ @SbloodyS
/dolphinscheduler-e2e/ @SbloodyS
/dolphinscheduler-extract/ @ruanwenjun
/dolphinscheduler-master/ @caishunfeng @SbloodyS @ruanwenjun
/dolphinscheduler-meter/  @ruanwenjun @EricGao888 @Gallardot
/dolphinscheduler-microbench/ @SbloodyS @ruanwenjun
/dolphinscheduler-registry/  @ruanwenjun @Gallardot
/dolphinscheduler-scheduler-plugin/ @ruanwenjun
/dolphinscheduler-service/ @caishunfeng
/dolphinscheduler-spi/ @caishunfeng
/dolphinscheduler-standalone-server/ @SbloodyS
/dolphinscheduler-storage-plugin/ @ruanwenjun @SbloodyS
/dolphinscheduler-task-plugin/ @caishunfeng @SbloodyS @zhuangchong @Gallardot
/dolphinscheduler-tools/ @caishunfeng @SbloodyS @EricGao888
/dolphinscheduler-ui/ @songjianet @Amy0104
/dolphinscheduler-worker/ @caishunfeng @SbloodyS @ruanwenjun
/dolphinscheduler-yarn-aop/ @ruanwenjun

/dolphinscheduler-dao/src/main/resources/sql/ @EricGao888

/script/  @SbloodyS @EricGao888
/docs/ @EricGao888 @SbloodyS
/licenses/ @EricGao888
/images/ @EricGao888
/style/ @SbloodyS @EricGao888
