Repository apache/dolphinscheduler, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SbloodyS, @Gallardot, @caishunfeng, @ruanwenjun, @EricGao888, @zhuangchong, @songjianet, @Amy0104

.github/CODEOWNERS:

#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

/.github/ @SbloodyS
/deploy/ @SbloodyS
/deploy/kubernetes/ @Gallardot
/dolphinscheduler-alert/ @SbloodyS
/dolphinscheduler-api/ @caishunfeng @SbloodyS
/dolphinscheduler-api-test/ @SbloodyS
/dolphinscheduler-authentication/ @ruanwenjun
/dolphinscheduler-bom/ @ruanwenjun
/dolphinscheduler-common/ @SbloodyS
/dolphinscheduler-dao/  @SbloodyS @ruanwenjun
/dolphinscheduler-dao-plugin/ @SbloodyS @ruanwenjun
/dolphinscheduler-data-quality/ @SbloodyS
/dolphinscheduler-datasource-plugin/ @SbloodyS
/dolphinscheduler-dist/ @SbloodyS
/dolphinscheduler-e2e/ @SbloodyS
/dolphinscheduler-extract/ @ruanwenjun
/dolphinscheduler-master/ @caishunfeng @SbloodyS @ruanwenjun
/dolphinscheduler-meter/  @ruanwenjun @EricGao888 @Gallardot
/dolphinscheduler-microbench/ @SbloodyS @ruanwenjun
/dolphinscheduler-registry/  @ruanwenjun @Gallardot
/dolphinscheduler-scheduler-plugin/ @ruanwenjun
/dolphinscheduler-service/ @caishunfeng
/dolphinscheduler-spi/ @caishunfeng
/dolphinscheduler-standalone-server/ @SbloodyS
/dolphinscheduler-storage-plugin/ @ruanwenjun @SbloodyS
/dolphinscheduler-task-plugin/ @caishunfeng @SbloodyS @zhuangchong @Gallardot
/dolphinscheduler-tools/ @caishunfeng @SbloodyS @EricGao888
/dolphinscheduler-ui/ @songjianet @Amy0104
/dolphinscheduler-worker/ @caishunfeng @SbloodyS @ruanwenjun
/dolphinscheduler-yarn-aop/ @ruanwenjun

/dolphinscheduler-dao/src/main/resources/sql/ @EricGao888

/script/  @SbloodyS @EricGao888
/docs/ @EricGao888 @SbloodyS
/licenses/ @EricGao888
/images/ @EricGao888
/style/ @SbloodyS @EricGao888

[Improvement] Delete taskGroupQueue when release
  dolphinscheduler-master/src/main/java/org/apache/dolphinscheduler/server/master/runner/taskgroup/TaskGroupCoordinator.java
  dolphinscheduler-master/src/test/java/org/apache/dolphinscheduler/server/master/runner/taskgroup/TaskGroupCoordinatorTest.java
Owners: @caishunfeng, @SbloodyS, @ruanwenjun

datasource done
  dolphinscheduler-datasource-plugin/dolphinscheduler-datasource-aliyunadbspark/pom.xml
  dolphinscheduler-datasource-plugin/dolphinscheduler-datasource-aliyunadbspark/src/main/java/org/apache/dolphinscheduler/plugin/datasource/aliyunadbspark/AliyunAdbSparkClientWrapper.java
  dolphinscheduler-datasource-plugin/dolphinscheduler-datasource-aliyunadbspark/src/main/java/org/apache/dolphinscheduler/plugin/datasource/aliyunadbspark/AliyunAdbSparkDataSourceChannel.java
  dolphinscheduler-datasource-plugin/dolphinscheduler-datasource-aliyunadbspark/src/main/java/org/apache/dolphinscheduler/plugin/datasource/aliyunadbspark/AliyunAdbSparkDataSourceChannelFactory.java
  dolphinscheduler-datasource-plugin/dolphinscheduler-datasource-aliyunadbspark/src/main/java/org/apache/dolphinscheduler/plugin/datasource/aliyunadbspark/param/AliyunAdbSparkConnectionParam.java
  dolphinscheduler-datasource-plugin/dolphinscheduler-datasource-aliyunadbspark/src/main/java/org/apache/dolphinscheduler/plugin/datasource/aliyunadbspark/param/AliyunAdbSparkDataSourceParamDTO.java
  dolphinscheduler-datasource-plugin/dolphinscheduler-datasource-aliyunadbspark/src/main/java/org/apache/dolphinscheduler/plugin/datasource/aliyunadbspark/param/AliyunAdbSparkDataSourceProcessor.java
  dolphinscheduler-datasource-plugin/dolphinscheduler-datasource-aliyunadbspark/src/test/java/org/apache/dolphinscheduler/plugin/datasource/aliyunadbspark/param/AliyunAdbSparkDataSourceProcessorTest.java
  dolphinscheduler-datasource-plugin/dolphinscheduler-datasource-all/pom.xml
  dolphinscheduler-datasource-plugin/pom.xml
  dolphinscheduler-spi/src/main/java/org/apache/dolphinscheduler/spi/enums/DbType.java
Owners: @SbloodyS, @caishunfeng

finish task plugin
  dolphinscheduler-datasource-plugin/dolphinscheduler-datasource-aliyunadbspark/src/main/java/org/apache/dolphinscheduler/plugin/datasource/aliyunadbspark/AliyunAdbSparkClientWrapper.java
  dolphinscheduler-task-plugin/dolphinscheduler-task-aliyunadbspark/pom.xml
  dolphinscheduler-task-plugin/dolphinscheduler-task-aliyunadbspark/src/main/java/org/apache/dolphinscheduler/plugin/task/aliyunadbspark/AliyunAdbSparkParameters.java
  dolphinscheduler-task-plugin/dolphinscheduler-task-aliyunadbspark/src/main/java/org/apache/dolphinscheduler/plugin/task/aliyunadbspark/AliyunAdbSparkState.java
  dolphinscheduler-task-plugin/dolphinscheduler-task-aliyunadbspark/src/main/java/org/apache/dolphinscheduler/plugin/task/aliyunadbspark/AliyunAdbSparkTask.java
  dolphinscheduler-task-plugin/dolphinscheduler-task-aliyunadbspark/src/main/java/org/apache/dolphinscheduler/plugin/task/aliyunadbspark/AliyunAdbSparkTaskChannel.java
  dolphinscheduler-task-plugin/dolphinscheduler-task-aliyunadbspark/src/main/java/org/apache/dolphinscheduler/plugin/task/aliyunadbspark/AliyunAdbSparkTaskChannelFactory.java
  dolphinscheduler-task-plugin/dolphinscheduler-task-aliyunadbspark/src/main/java/org/apache/dolphinscheduler/plugin/task/aliyunadbspark/AliyunAdbSparkTaskException.java
  dolphinscheduler-task-plugin/dolphinscheduler-task-aliyunadbspark/src/test/java/org/apache/dolphinscheduler/plugin/task/aliyunadbspark/AliyunAdbSparkTaskTest.java
  dolphinscheduler-task-plugin/pom.xml
Owners: @SbloodyS, @caishunfeng, @zhuangchong, @Gallardot

codestyle fix
  dolphinscheduler-datasource-plugin/dolphinscheduler-datasource-aliyunadbspark/pom.xml
  dolphinscheduler-datasource-plugin/dolphinscheduler-datasource-aliyunadbspark/src/test/java/org/apache/dolphinscheduler/plugin/datasource/aliyunadbspark/param/AliyunAdbSparkDataSourceProcessorTest.java
  dolphinscheduler-task-plugin/dolphinscheduler-task-aliyunadbspark/pom.xml
  dolphinscheduler-task-plugin/dolphinscheduler-task-aliyunadbspark/src/main/java/org/apache/dolphinscheduler/plugin/task/aliyunadbspark/AliyunAdbSparkParameters.java
  dolphinscheduler-task-plugin/dolphinscheduler-task-aliyunadbspark/src/main/java/org/apache/dolphinscheduler/plugin/task/aliyunadbspark/AliyunAdbSparkState.java
  dolphinscheduler-task-plugin/dolphinscheduler-task-aliyunadbspark/src/main/java/org/apache/dolphinscheduler/plugin/task/aliyunadbspark/AliyunAdbSparkTask.java
  dolphinscheduler-task-plugin/dolphinscheduler-task-aliyunadbspark/src/test/java/org/apache/dolphinscheduler/plugin/task/aliyunadbspark/AliyunAdbSparkTaskTest.java
Owners: @SbloodyS, @caishunfeng, @zhuangchong, @Gallardot

backend ut done
  dolphinscheduler-task-plugin/dolphinscheduler-task-aliyunadbspark/src/main/java/org/apache/dolphinscheduler/plugin/task/aliyunadbspark/AliyunAdbSparkBaseParameters.java
  dolphinscheduler-task-plugin/dolphinscheduler-task-aliyunadbspark/src/main/java/org/apache/dolphinscheduler/plugin/task/aliyunadbspark/AliyunAdbSparkBaseTask.java
  dolphinscheduler-task-plugin/dolphinscheduler-task-aliyunadbspark/src/main/java/org/apache/dolphinscheduler/plugin/task/aliyunadbspark/AliyunAdbSparkBatchParameters.java
  dolphinscheduler-task-plugin/dolphinscheduler-task-aliyunadbspark/src/main/java/org/apache/dolphinscheduler/plugin/task/aliyunadbspark/AliyunAdbSparkBatchTask.java
  dolphinscheduler-task-plugin/dolphinscheduler-task-aliyunadbspark/src/main/java/org/apache/dolphinscheduler/plugin/task/aliyunadbspark/AliyunAdbSparkSqlParameters.java
  dolphinscheduler-task-plugin/dolphinscheduler-task-aliyunadbspark/src/main/java/org/apache/dolphinscheduler/plugin/task/aliyunadbspark/AliyunAdbSparkSqlTask.java
  dolphinscheduler-task-plugin/dolphinscheduler-task-aliyunadbspark/src/main/java/org/apache/dolphinscheduler/plugin/task/aliyunadbspark/AliyunAdbSparkTaskChannel.java
  dolphinscheduler-task-plugin/dolphinscheduler-task-aliyunadbspark/src/test/java/org/apache/dolphinscheduler/plugin/task/aliyunadbspark/AliyunAdbSparkBatchTaskTest.java
  dolphinscheduler-task-plugin/dolphinscheduler-task-aliyunadbspark/src/test/java/org/apache/dolphinscheduler/plugin/task/aliyunadbspark/AliyunAdbSparkSqlTaskTest.java
Owners: @caishunfeng, @SbloodyS, @zhuangchong, @Gallardot

first part ui
  dolphinscheduler-ui/public/images/task-icons/aliyun_adb_spark.png
  dolphinscheduler-ui/public/images/task-icons/aliyun_adb_spark_hover.png
  dolphinscheduler-ui/src/locales/en_US/datasource.ts
  dolphinscheduler-ui/src/locales/en_US/project.ts
  dolphinscheduler-ui/src/locales/zh_CN/datasource.ts
  dolphinscheduler-ui/src/locales/zh_CN/project.ts
  dolphinscheduler-ui/src/service/modules/data-source/types.ts
Owners: @songjianet, @Amy0104

ui done
  dolphinscheduler-api/src/main/resources/task-type-config.yaml
  dolphinscheduler-datasource-plugin/pom.xml
  dolphinscheduler-ui/src/store/project/task-type.ts
  dolphinscheduler-ui/src/store/project/types.ts
  dolphinscheduler-ui/src/views/datasource/list/detail.tsx
  dolphinscheduler-ui/src/views/datasource/list/use-form.ts
  dolphinscheduler-ui/src/views/projects/task/components/node/fields/index.ts
  dolphinscheduler-ui/src/views/projects/task/components/node/fields/use-aliyun-adb-spark.ts
  dolphinscheduler-ui/src/views/projects/task/components/node/fields/use-datasource.ts
  dolphinscheduler-ui/src/views/projects/task/components/node/format-data.ts
  dolphinscheduler-ui/src/views/projects/task/components/node/tasks/index.ts
  dolphinscheduler-ui/src/views/projects/task/components/node/tasks/use-aliyun-adb-spark.ts
  dolphinscheduler-ui/src/views/projects/task/components/node/types.ts
  dolphinscheduler-ui/src/views/projects/task/constants/task-type.ts
  dolphinscheduler-ui/src/views/projects/workflow/components/dag/dag.module.scss
Owners: @caishunfeng, @SbloodyS, @songjianet, @Amy0104

datasource & task ok
  dolphinscheduler-datasource-plugin/dolphinscheduler-datasource-aliyunadbspark/src/main/java/org/apache/dolphinscheduler/plugin/datasource/aliyunadbspark/param/AliyunAdbSparkConnectionParam.java
  dolphinscheduler-datasource-plugin/dolphinscheduler-datasource-aliyunadbspark/src/main/java/org/apache/dolphinscheduler/plugin/datasource/aliyunadbspark/param/AliyunAdbSparkDataSourceParamDTO.java
  dolphinscheduler-datasource-plugin/dolphinscheduler-datasource-aliyunadbspark/src/main/java/org/apache/dolphinscheduler/plugin/datasource/aliyunadbspark/param/AliyunAdbSparkDataSourceProcessor.java
  dolphinscheduler-datasource-plugin/dolphinscheduler-datasource-aliyunadbspark/src/test/java/org/apache/dolphinscheduler/plugin/datasource/aliyunadbspark/param/AliyunAdbSparkDataSourceProcessorTest.java
  dolphinscheduler-task-plugin/dolphinscheduler-task-aliyunadbspark/src/main/java/org/apache/dolphinscheduler/plugin/task/aliyunadbspark/AliyunAdbSparkBaseTask.java
  dolphinscheduler-task-plugin/dolphinscheduler-task-aliyunadbspark/src/test/java/org/apache/dolphinscheduler/plugin/task/aliyunadbspark/AliyunAdbSparkBatchTaskTest.java
  dolphinscheduler-ui/public/images/task-icons/aliyun_adb_spark.png
  dolphinscheduler-ui/public/images/task-icons/aliyun_adb_spark_hover.png
  dolphinscheduler-ui/src/views/projects/task/components/node/fields/use-aliyun-adb-spark.ts
Owners: @SbloodyS, @caishunfeng, @zhuangchong, @Gallardot, @songjianet, @Amy0104

add docs
  docs/docs/en/guide/task/aliyun-adb-spark.md
  docs/docs/zh/guide/task/aliyun-adb-spark.md
  docs/img/tasks/demo/aliyun_adb_spark01.png
  docs/img/tasks/demo/aliyun_adb_spark02.png
  docs/img/tasks/demo/aliyun_adb_spark03.png
  docs/img/tasks/demo/aliyun_adb_spark04.png
Owners: @EricGao888, @SbloodyS

fix npe
  dolphinscheduler-task-plugin/dolphinscheduler-task-adbspark/src/main/java/org/apache/dolphinscheduler/plugin/task/adbspark/AdbSparkTask.java
Owners: @caishunfeng, @SbloodyS, @zhuangchong, @Gallardot

add applicationId
  dolphinscheduler-task-plugin/dolphinscheduler-task-adbspark/src/main/java/org/apache/dolphinscheduler/plugin/task/adbspark/AdbSparkTask.java
Owners: @caishunfeng, @SbloodyS, @zhuangchong, @Gallardot

add header and fix style error in doc
  docs/docs/en/guide/task/aliyun-adb-spark.md
  docs/docs/zh/guide/task/aliyun-adb-spark.md
  dolphinscheduler-task-plugin/dolphinscheduler-task-adbspark/src/main/java/org/apache/dolphinscheduler/plugin/task/adbspark/AdbSparkState.java
Owners: @EricGao888, @SbloodyS, @caishunfeng, @zhuangchong, @Gallardot

fix fe checkstyle and backend ut
  dolphinscheduler-task-plugin/dolphinscheduler-task-adbspark/src/test/java/org/apache/dolphinscheduler/plugin/task/adbspark/AdbSparkTaskTest.java
  dolphinscheduler-ui/src/views/projects/task/components/node/fields/use-aliyun-adb-spark.ts
Owners: @caishunfeng, @SbloodyS, @zhuangchong, @Gallardot, @songjianet, @Amy0104

remove unnecessary change
  dolphinscheduler-ui/src/views/datasource/list/detail.tsx
Owners: @songjianet, @Amy0104

zeppelin tasks with dynamic parameter passing
  dolphinscheduler-task-plugin/dolphinscheduler-task-zeppelin/src/main/java/org/apache/dolphinscheduler/plugin/task/zeppelin/ZeppelinTask.java
Owners: @caishunfeng, @SbloodyS, @zhuangchong, @Gallardot

[Improvement] Delete taskGroupQueue when release (#16425)
  dolphinscheduler-master/src/main/java/org/apache/dolphinscheduler/server/master/runner/taskgroup/TaskGroupCoordinator.java
  dolphinscheduler-master/src/test/java/org/apache/dolphinscheduler/server/master/runner/taskgroup/TaskGroupCoordinatorTest.java
Owners: @caishunfeng, @SbloodyS, @ruanwenjun

[Improvement] Delete taskGroupQueue when release (#16425)
  dolphinscheduler-master/src/main/java/org/apache/dolphinscheduler/server/master/runner/taskgroup/TaskGroupCoordinator.java
  dolphinscheduler-master/src/test/java/org/apache/dolphinscheduler/server/master/runner/taskgroup/TaskGroupCoordinatorTest.java
Owners: @caishunfeng, @SbloodyS, @ruanwenjun

only admin user can grant datasource
  dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/service/impl/UsersServiceImpl.java
Owners: @caishunfeng, @SbloodyS

fix ut
  dolphinscheduler-api/src/test/java/org/apache/dolphinscheduler/api/service/UsersServiceTest.java
Owners: @caishunfeng, @SbloodyS

fix(16424): K8sUtils#jobExists may cause huge memory usage
  dolphinscheduler-task-plugin/dolphinscheduler-task-api/src/main/java/org/apache/dolphinscheduler/plugin/task/api/utils/K8sUtils.java
Owners: @caishunfeng, @SbloodyS, @zhuangchong, @Gallardot

[Fix-16428] only admin user can grant datasource (#16429)
  dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/service/impl/UsersServiceImpl.java
  dolphinscheduler-api/src/test/java/org/apache/dolphinscheduler/api/service/UsersServiceTest.java
Owners: @caishunfeng, @SbloodyS

[Fix-16428] only admin user can grant datasource (#16429)
  dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/service/impl/UsersServiceImpl.java
  dolphinscheduler-api/src/test/java/org/apache/dolphinscheduler/api/service/UsersServiceTest.java
Owners: @caishunfeng, @SbloodyS

fix(16424): K8sUtils#jobExists may cause huge memory usage (#16432)
  dolphinscheduler-task-plugin/dolphinscheduler-task-api/src/main/java/org/apache/dolphinscheduler/plugin/task/api/utils/K8sUtils.java
Owners: @caishunfeng, @SbloodyS, @zhuangchong, @Gallardot

fix(16424): K8sUtils#jobExists may cause huge memory usage (#16432)
  dolphinscheduler-task-plugin/dolphinscheduler-task-api/src/main/java/org/apache/dolphinscheduler/plugin/task/api/utils/K8sUtils.java
Owners: @caishunfeng, @SbloodyS, @zhuangchong, @Gallardot

[Fix] fix dingtalk at user Params (#16379)
  dolphinscheduler-alert/dolphinscheduler-alert-plugins/dolphinscheduler-alert-dingtalk/src/main/java/org/apache/dolphinscheduler/plugin/alert/dingtalk/DingTalkAlertChannelFactory.java
  dolphinscheduler-alert/dolphinscheduler-alert-plugins/dolphinscheduler-alert-dingtalk/src/main/java/org/apache/dolphinscheduler/plugin/alert/dingtalk/DingTalkParamsConstants.java
  dolphinscheduler-alert/dolphinscheduler-alert-plugins/dolphinscheduler-alert-dingtalk/src/main/java/org/apache/dolphinscheduler/plugin/alert/dingtalk/DingTalkSender.java
  dolphinscheduler-ui/src/locales/en_US/security.ts
  dolphinscheduler-ui/src/locales/zh_CN/security.ts
Owners: @SbloodyS, @songjianet, @Amy0104

[Fix] fix dingtalk at user Params (#16379)
  dolphinscheduler-alert/dolphinscheduler-alert-plugins/dolphinscheduler-alert-dingtalk/src/main/java/org/apache/dolphinscheduler/plugin/alert/dingtalk/DingTalkAlertChannelFactory.java
  dolphinscheduler-alert/dolphinscheduler-alert-plugins/dolphinscheduler-alert-dingtalk/src/main/java/org/apache/dolphinscheduler/plugin/alert/dingtalk/DingTalkParamsConstants.java
  dolphinscheduler-alert/dolphinscheduler-alert-plugins/dolphinscheduler-alert-dingtalk/src/main/java/org/apache/dolphinscheduler/plugin/alert/dingtalk/DingTalkSender.java
  dolphinscheduler-ui/src/locales/en_US/security.ts
  dolphinscheduler-ui/src/locales/zh_CN/security.ts
Owners: @SbloodyS, @songjianet, @Amy0104

add mergeable check
  .asf.yaml
  .github/workflows/e2e-k8s.yml
Owners: @SbloodyS

[Improvement-16440][Alert] Improvement alert plugin get name
  dolphinscheduler-alert/dolphinscheduler-alert-plugins/dolphinscheduler-alert-aliyunVoice/src/main/java/org/apache/dolphinscheduler/plugin/alert/voice/VoiceAlertChannelFactory.java
  dolphinscheduler-alert/dolphinscheduler-alert-plugins/dolphinscheduler-alert-dingtalk/src/main/java/org/apache/dolphinscheduler/plugin/alert/dingtalk/DingTalkAlertChannelFactory.java
  dolphinscheduler-alert/dolphinscheduler-alert-plugins/dolphinscheduler-alert-email/src/main/java/org/apache/dolphinscheduler/plugin/alert/email/EmailAlertChannelFactory.java
  dolphinscheduler-alert/dolphinscheduler-alert-plugins/dolphinscheduler-alert-feishu/src/main/java/org/apache/dolphinscheduler/plugin/alert/feishu/FeiShuAlertChannelFactory.java
  dolphinscheduler-alert/dolphinscheduler-alert-plugins/dolphinscheduler-alert-http/src/main/java/org/apache/dolphinscheduler/plugin/alert/http/HttpAlertChannelFactory.java
  dolphinscheduler-alert/dolphinscheduler-alert-plugins/dolphinscheduler-alert-pagerduty/src/main/java/org/apache/dolphinscheduler/plugin/alert/pagerduty/PagerDutyAlertChannelFactory.java
  dolphinscheduler-alert/dolphinscheduler-alert-plugins/dolphinscheduler-alert-prometheus/src/main/java/org/apache/dolphinscheduler/plugin/alert/prometheus/PrometheusAlertChannelFactory.java
  dolphinscheduler-alert/dolphinscheduler-alert-plugins/dolphinscheduler-alert-script/src/main/java/org/apache/dolphinscheduler/plugin/alert/script/ScriptAlertChannelFactory.java
  dolphinscheduler-alert/dolphinscheduler-alert-plugins/dolphinscheduler-alert-slack/src/main/java/org/apache/dolphinscheduler/plugin/alert/slack/SlackAlertChannelFactory.java
  dolphinscheduler-alert/dolphinscheduler-alert-plugins/dolphinscheduler-alert-slack/src/test/java/org/apache/dolphinscheduler/plugin/alert/slack/SlackAlertChannelFactoryTest.java
  dolphinscheduler-alert/dolphinscheduler-alert-plugins/dolphinscheduler-alert-telegram/src/main/java/org/apache/dolphinscheduler/plugin/alert/telegram/TelegramAlertChannelFactory.java
  dolphinscheduler-alert/dolphinscheduler-alert-plugins/dolphinscheduler-alert-telegram/src/test/java/org/apache/dolphinscheduler/plugin/alert/telegram/TelegramAlertChannelFactoryTest.java
  dolphinscheduler-alert/dolphinscheduler-alert-plugins/dolphinscheduler-alert-webexteams/src/main/java/org/apache/dolphinscheduler/plugin/alert/webexteams/WebexTeamsAlertChannelFactory.java
  dolphinscheduler-alert/dolphinscheduler-alert-plugins/dolphinscheduler-alert-wechat/src/main/java/org/apache/dolphinscheduler/plugin/alert/wechat/WeChatAlertChannelFactory.java
  dolphinscheduler-common/src/main/java/org/apache/dolphinscheduler/common/enums/AlertPluginType.java
Owners: @SbloodyS

[Improvement-16443][Workflow Timing] Improvement add operator
  dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/service/impl/SchedulerServiceImpl.java
  dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/vo/ScheduleVO.java
  dolphinscheduler-dao/src/main/java/org/apache/dolphinscheduler/dao/entity/Schedule.java
  dolphinscheduler-dao/src/main/resources/org/apache/dolphinscheduler/dao/mapper/ScheduleMapper.xml
  dolphinscheduler-dao/src/main/resources/sql/dolphinscheduler_h2.sql
  dolphinscheduler-dao/src/main/resources/sql/dolphinscheduler_mysql.sql
  dolphinscheduler-dao/src/main/resources/sql/dolphinscheduler_postgresql.sql
  dolphinscheduler-dao/src/main/resources/sql/upgrade/3.3.0_schema/mysql/dolphinscheduler_ddl.sql
  dolphinscheduler-dao/src/main/resources/sql/upgrade/3.3.0_schema/postgresql/dolphinscheduler_ddl.sql
  dolphinscheduler-ui/src/views/projects/workflow/definition/timing/use-table.ts
Owners: @caishunfeng, @SbloodyS, @ruanwenjun, @EricGao888, @songjianet, @Amy0104

Fix pagination bug, if the totalPage is null, use the totalCount and pageSize to calculate the totalPage
  dolphinscheduler-ui/src/views/projects/workflow/definition/use-table.ts
Owners: @songjianet, @Amy0104

operator changed to modify_user_id
  dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/service/impl/SchedulerServiceImpl.java
  dolphinscheduler-dao/src/main/java/org/apache/dolphinscheduler/dao/entity/Schedule.java
  dolphinscheduler-dao/src/main/resources/org/apache/dolphinscheduler/dao/mapper/ScheduleMapper.xml
  dolphinscheduler-dao/src/main/resources/sql/dolphinscheduler_h2.sql
  dolphinscheduler-dao/src/main/resources/sql/dolphinscheduler_mysql.sql
  dolphinscheduler-dao/src/main/resources/sql/dolphinscheduler_postgresql.sql
  dolphinscheduler-dao/src/main/resources/sql/upgrade/3.3.0_schema/mysql/dolphinscheduler_ddl.sql
  dolphinscheduler-dao/src/main/resources/sql/upgrade/3.3.0_schema/postgresql/dolphinscheduler_ddl.sql
Owners: @caishunfeng, @SbloodyS, @ruanwenjun, @EricGao888

add mergeable check (#16439)
  .asf.yaml
  .github/workflows/e2e-k8s.yml
Owners: @SbloodyS

add mergeable check (#16439)
  .asf.yaml
  .github/workflows/e2e-k8s.yml
Owners: @SbloodyS

Update types.ts
  dolphinscheduler-ui/src/views/projects/task/components/node/types.ts
Owners: @songjianet, @Amy0104

Update format-data.ts
  dolphinscheduler-ui/src/views/projects/task/components/node/format-data.ts
Owners: @songjianet, @Amy0104

add a blank line
  dolphinscheduler-dao/src/main/resources/sql/upgrade/3.3.0_schema/mysql/dolphinscheduler_ddl.sql
  dolphinscheduler-dao/src/main/resources/sql/upgrade/3.3.0_schema/postgresql/dolphinscheduler_ddl.sql
Owners: @EricGao888

[Chore] Add a executable permission to the scripts
  dolphinscheduler-alert/dolphinscheduler-alert-server/src/main/bin/jvm_args_env.sh
  dolphinscheduler-alert/dolphinscheduler-alert-server/src/main/bin/start.sh
  dolphinscheduler-api-test/dolphinscheduler-api-test-case/src/test/resources/docker/datasource-mysql/download-mysql.sh
  dolphinscheduler-api/src/main/bin/jvm_args_env.sh
  dolphinscheduler-api/src/main/bin/start.sh
  dolphinscheduler-e2e/dolphinscheduler-e2e-case/src/test/resources/docker/datasource-mysql/download-mysql.sh
  dolphinscheduler-master/src/main/bin/jvm_args_env.sh
  dolphinscheduler-master/src/main/bin/start.sh
  dolphinscheduler-standalone-server/src/main/bin/jvm_args_env.sh
  dolphinscheduler-storage-plugin/dolphinscheduler-storage-hdfs/src/test/resources/storage/hello.sh
  dolphinscheduler-tools/src/main/bin/create-demo-processes.sh
  dolphinscheduler-tools/src/main/bin/migrate-lineage.sh
  dolphinscheduler-tools/src/main/bin/migrate-resource.sh
  dolphinscheduler-worker/src/main/bin/jvm_args_env.sh
  dolphinscheduler-worker/src/main/bin/start.sh
Owners: @SbloodyS, @caishunfeng, @ruanwenjun, @EricGao888

[Fix][pom] fix plugin error config .
  pom.xml
Owners: none

[Improvement] Optimizing the OAuth2 login functionality to support users integrating with their own authentication centers.
  docs/docs/en/guide/security/authentication-type.md
  docs/docs/zh/guide/security/authentication-type.md
  dolphinscheduler-api/pom.xml
  dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/configuration/OAuth2Configuration.java
  dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/controller/LoginController.java
  dolphinscheduler-oauth-plugin/dolphinscheduler-oauth-all/pom.xml
  dolphinscheduler-oauth-plugin/dolphinscheduler-oauth-api/pom.xml
  dolphinscheduler-oauth-plugin/dolphinscheduler-oauth-api/src/main/java/org/apache/dolphinscheduler/oauth/AuthorizeCodeAuthService.java
  dolphinscheduler-oauth-plugin/dolphinscheduler-oauth-api/src/main/java/org/apache/dolphinscheduler/oauth/OAuth2ClientProperties.java
  dolphinscheduler-oauth-plugin/dolphinscheduler-oauth-api/src/main/java/org/apache/dolphinscheduler/oauth/OAuthConstants.java
  dolphinscheduler-oauth-plugin/dolphinscheduler-oauth-api/src/main/java/org/apache/dolphinscheduler/oauth/OAuthServiceFactory.java
  dolphinscheduler-oauth-plugin/dolphinscheduler-oauth-api/src/main/java/org/apache/dolphinscheduler/oauth/OAuthUserInfo.java
  dolphinscheduler-oauth-plugin/dolphinscheduler-oauth-gitee/pom.xml
  dolphinscheduler-oauth-plugin/dolphinscheduler-oauth-gitee/src/main/java/org/apache/dolphinscheduler/oauth/GiteeAuthorizeCodeAuthService.java
  dolphinscheduler-oauth-plugin/dolphinscheduler-oauth-gitee/src/main/java/org/apache/dolphinscheduler/oauth/GiteeAuthorizeCodeAuthServiceFactory.java
  dolphinscheduler-oauth-plugin/dolphinscheduler-oauth-gitee/src/main/java/org/apache/dolphinscheduler/oauth/GiteeOAuthProviderConstants.java
  dolphinscheduler-oauth-plugin/dolphinscheduler-oauth-github/pom.xml
  dolphinscheduler-oauth-plugin/dolphinscheduler-oauth-github/src/main/java/org/apache/dolphinscheduler/oauth/GithubAuthorizeCodeAuthService.java
  dolphinscheduler-oauth-plugin/dolphinscheduler-oauth-github/src/main/java/org/apache/dolphinscheduler/oauth/GithubAuthorizeCodeAuthServiceFactory.java
  dolphinscheduler-oauth-plugin/dolphinscheduler-oauth-github/src/main/java/org/apache/dolphinscheduler/oauth/GithubOAuthProviderConstants.java
  dolphinscheduler-oauth-plugin/pom.xml
  pom.xml
Owners: @EricGao888, @SbloodyS, @caishunfeng
