Repository apache/dolphinscheduler, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SbloodyS, @Gallardot, @caishunfeng, @ruanwenjun, @EricGao888, @zhuangchong, @songjianet, @Amy0104

.github/CODEOWNERS:

#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

/.github/ @SbloodyS
/deploy/ @SbloodyS
/deploy/kubernetes/ @Gallardot
/dolphinscheduler-alert/ @SbloodyS
/dolphinscheduler-api/ @caishunfeng @SbloodyS
/dolphinscheduler-api-test/ @SbloodyS
/dolphinscheduler-authentication/ @ruanwenjun
/dolphinscheduler-bom/ @ruanwenjun
/dolphinscheduler-common/ @SbloodyS
/dolphinscheduler-dao/  @SbloodyS @ruanwenjun
/dolphinscheduler-dao-plugin/ @SbloodyS @ruanwenjun
/dolphinscheduler-data-quality/ @SbloodyS
/dolphinscheduler-datasource-plugin/ @SbloodyS
/dolphinscheduler-dist/ @SbloodyS
/dolphinscheduler-e2e/ @SbloodyS
/dolphinscheduler-extract/ @ruanwenjun
/dolphinscheduler-master/ @caishunfeng @SbloodyS @ruanwenjun
/dolphinscheduler-meter/  @ruanwenjun @EricGao888 @Gallardot
/dolphinscheduler-microbench/ @SbloodyS @ruanwenjun
/dolphinscheduler-registry/  @ruanwenjun @Gallardot
/dolphinscheduler-scheduler-plugin/ @ruanwenjun
/dolphinscheduler-service/ @caishunfeng
/dolphinscheduler-spi/ @caishunfeng
/dolphinscheduler-standalone-server/ @SbloodyS
/dolphinscheduler-storage-plugin/ @ruanwenjun @SbloodyS
/dolphinscheduler-task-plugin/ @caishunfeng @SbloodyS @zhuangchong @Gallardot
/dolphinscheduler-tools/ @caishunfeng @SbloodyS @EricGao888
/dolphinscheduler-ui/ @songjianet @Amy0104
/dolphinscheduler-worker/ @caishunfeng @SbloodyS @ruanwenjun
/dolphinscheduler-yarn-aop/ @ruanwenjun

/dolphinscheduler-dao/src/main/resources/sql/ @EricGao888

/script/  @SbloodyS @EricGao888
/docs/ @EricGao888 @SbloodyS
/licenses/ @EricGao888
/images/ @EricGao888
/style/ @SbloodyS @EricGao888

update
  dolphinscheduler-task-plugin/dolphinscheduler-task-aliyunserverlessspark/src/main/java/org/apache/dolphinscheduler/plugin/task/aliyunserverlessspark/AliyunServerlessSparkTask.java
Owners: @caishunfeng, @SbloodyS, @zhuangchong, @Gallardot

fix spotless
  docs/docs/en/guide/task/http.md
  docs/docs/zh/guide/task/http.md
  dolphinscheduler-common/src/main/java/org/apache/dolphinscheduler/common/utils/OkHttpUtils.java
  dolphinscheduler-task-plugin/dolphinscheduler-task-http/src/main/java/org/apache/dolphinscheduler/plugin/task/http/HttpRequestMethod.java
  dolphinscheduler-task-plugin/dolphinscheduler-task-http/src/main/java/org/apache/dolphinscheduler/plugin/task/http/HttpTask.java
  dolphinscheduler-task-plugin/dolphinscheduler-task-http/src/test/java/org/apache/dolphinscheduler/plugin/task/http/HttpTaskTest.java
  dolphinscheduler-ui/src/views/projects/task/components/node/fields/use-http.ts
Owners: @EricGao888, @SbloodyS, @caishunfeng, @zhuangchong, @Gallardot, @songjianet, @Amy0104

fix docs error
  docs/docs/zh/architecture/task-structure.md
Owners: @EricGao888, @SbloodyS

fix docs error
  dolphinscheduler-task-plugin/dolphinscheduler-task-http/src/main/java/org/apache/dolphinscheduler/plugin/task/http/HttpTaskConstants.java
Owners: @caishunfeng, @SbloodyS, @zhuangchong, @Gallardot

fix docs error
  docs/docs/en/architecture/task-structure.md
Owners: @EricGao888, @SbloodyS

fix license
  tools/dependencies/known-dependencies.txt
Owners: none

fix ci
  .github/workflows/cluster-test/mysql_with_mysql_registry/start-job.sh
  .github/workflows/cluster-test/mysql_with_zookeeper_registry/start-job.sh
  .github/workflows/cluster-test/postgresql_with_postgresql_registry/start-job.sh
  .github/workflows/cluster-test/postgresql_with_zookeeper_registry/start-job.sh
Owners: @SbloodyS

fix ci
  .github/workflows/cluster-test/mysql_with_mysql_registry/start-job.sh
  .github/workflows/cluster-test/mysql_with_zookeeper_registry/start-job.sh
  .github/workflows/cluster-test/postgresql_with_postgresql_registry/start-job.sh
  .github/workflows/cluster-test/postgresql_with_zookeeper_registry/start-job.sh
Owners: @SbloodyS

fix ut
  dolphinscheduler-api/src/test/java/org/apache/dolphinscheduler/api/controller/LoginControllerTest.java
Owners: @caishunfeng, @SbloodyS

fix spotless
  dolphinscheduler-api/src/test/java/org/apache/dolphinscheduler/api/controller/LoginControllerTest.java
Owners: @caishunfeng, @SbloodyS

fix ci
  .github/workflows/cluster-test/mysql_with_mysql_registry/start-job.sh
  .github/workflows/cluster-test/mysql_with_zookeeper_registry/start-job.sh
  .github/workflows/cluster-test/postgresql_with_postgresql_registry/start-job.sh
  .github/workflows/cluster-test/postgresql_with_zookeeper_registry/start-job.sh
Owners: @SbloodyS

[Chore][Hotfix] Change docker-compose to docker compose in ci (#16416)
  .github/workflows/cluster-test/mysql_with_mysql_registry/start-job.sh
  .github/workflows/cluster-test/mysql_with_zookeeper_registry/start-job.sh
  .github/workflows/cluster-test/postgresql_with_postgresql_registry/start-job.sh
  .github/workflows/cluster-test/postgresql_with_zookeeper_registry/start-job.sh
Owners: @SbloodyS

[Chore][Hotfix] Change docker-compose to docker compose in ci (#16416)
  .github/workflows/cluster-test/mysql_with_mysql_registry/start-job.sh
  .github/workflows/cluster-test/mysql_with_zookeeper_registry/start-job.sh
  .github/workflows/cluster-test/postgresql_with_postgresql_registry/start-job.sh
  .github/workflows/cluster-test/postgresql_with_zookeeper_registry/start-job.sh
Owners: @SbloodyS

[Fix-16410] wrong env in values.yaml (#16412)
  deploy/kubernetes/dolphinscheduler/README.md
  deploy/kubernetes/dolphinscheduler/values.yaml
Owners: @Gallardot

[Fix-16410] wrong env in values.yaml (#16412)
  deploy/kubernetes/dolphinscheduler/README.md
  deploy/kubernetes/dolphinscheduler/values.yaml
Owners: @Gallardot

fix push docker ci error
  .github/workflows/publish-docker.yaml
  .gitmodules
Owners: @SbloodyS

fix push docker ci error
  .github/workflows/publish-docker.yaml
Owners: @SbloodyS

fix push docker ci error
  .github/workflows/publish-docker.yaml
Owners: @SbloodyS

fix push docker ci error
  .github/workflows/publish-docker.yaml
Owners: @SbloodyS

fix push docker ci error
  .github/workflows/publish-docker.yaml
Owners: @SbloodyS

fix push docker ci error
  .github/workflows/publish-docker.yaml
Owners: @SbloodyS

fix push docker ci error
  .github/workflows/publish-docker.yaml
Owners: @SbloodyS

fix push docker ci error
  .github/workflows/publish-docker.yaml
Owners: @SbloodyS

fix push docker ci error
  .github/workflows/publish-docker.yaml
Owners: @SbloodyS

fix push docker ci error
  .github/workflows/publish-docker.yaml
Owners: @SbloodyS

fix push docker ci error
  .github/workflows/publish-docker.yaml
Owners: @SbloodyS

fix push docker ci error
  .gitmodules
Owners: none

fix push docker ci error
  .gitmodules
Owners: none

[Chore] Fix push docker ci error (#16418)
  .github/workflows/publish-docker.yaml
  .gitmodules
Owners: @SbloodyS

[Chore] Fix push docker ci error (#16418)
  .github/workflows/publish-docker.yaml
  .gitmodules
Owners: @SbloodyS

fix comment
  dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/controller/LoginController.java
  dolphinscheduler-common/src/main/java/org/apache/dolphinscheduler/common/utils/OkHttpUtils.java
  dolphinscheduler-dist/release-docs/licenses/LICENSE-okio-jvm.txt
  dolphinscheduler-dist/release-docs/licenses/LICENSE-okio.txt
  dolphinscheduler-ui/src/views/projects/task/components/node/fields/use-http.ts
Owners: @caishunfeng, @SbloodyS, @songjianet, @Amy0104

fix comment
  dolphinscheduler-common/src/main/java/org/apache/dolphinscheduler/common/utils/OkHttpUtils.java
  dolphinscheduler-standalone-server/src/main/resources/logback-spring.xml
Owners: @SbloodyS

run spotless checks
  docs/docs/en/architecture/configuration.md
Owners: @EricGao888, @SbloodyS

remove duplicate code of AliyunServerlessSparkDataSourceProcessor
  dolphinscheduler-datasource-plugin/dolphinscheduler-datasource-aliyunserverlessspark/src/main/java/org/apache/dolphinscheduler/plugin/datasource/aliyunserverlessspark/param/AliyunServerlessSparkDataSourceProcessor.java
Owners: @SbloodyS

remove duplicate code of AliyunServerlessSparkDataSourceProcessor (#16422)
  dolphinscheduler-datasource-plugin/dolphinscheduler-datasource-aliyunserverlessspark/src/main/java/org/apache/dolphinscheduler/plugin/datasource/aliyunserverlessspark/param/AliyunServerlessSparkDataSourceProcessor.java
Owners: @SbloodyS

remove duplicate code of AliyunServerlessSparkDataSourceProcessor (#16422)
  dolphinscheduler-datasource-plugin/dolphinscheduler-datasource-aliyunserverlessspark/src/main/java/org/apache/dolphinscheduler/plugin/datasource/aliyunserverlessspark/param/AliyunServerlessSparkDataSourceProcessor.java
Owners: @SbloodyS

fix comment
  dolphinscheduler-common/src/main/java/org/apache/dolphinscheduler/common/utils/OkHttpUtils.java
Owners: @SbloodyS

fix comment
  dolphinscheduler-dist/release-docs/LICENSE
Owners: @SbloodyS

fix comment
  dolphinscheduler-dist/release-docs/licenses/LICENSE-okhttp.txt
  dolphinscheduler-dist/release-docs/licenses/LICENSE-okio-jvm.txt
  dolphinscheduler-dist/release-docs/licenses/LICENSE-okio.txt
Owners: @SbloodyS

fix comment
  dolphinscheduler-dist/release-docs/LICENSE
Owners: @SbloodyS
