Repository apache/dolphinscheduler, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kezhenxu94, @SbloodyS, @caishunfeng, @ruanwenjun, @zhongjiajie, @EricGao888, @zhuangchong, @songjianet, @Amy0104, @Tianqi-Dotes

add unit test for ProcessTaskRelationV2Controller
  dolphinscheduler-api/src/test/java/org/apache/dolphinscheduler/api/controller/v2/ProcessTaskRelationV2ControllerTest.java
Owners: @caishunfeng, @SbloodyS

add unit test for ProcessTaskRelationV2Controller
  dolphinscheduler-api/src/test/java/org/apache/dolphinscheduler/api/controller/v2/ProcessTaskRelationV2ControllerTest.java
Owners: @caishunfeng, @SbloodyS

add unit test for ProcessTaskRelationV2Controller
  dolphinscheduler-api/src/test/java/org/apache/dolphinscheduler/api/controller/v2/ProcessTaskRelationV2ControllerTest.java
Owners: @caishunfeng, @SbloodyS

add unit test for ProcessTaskRelationV2Controller
  dolphinscheduler-api/src/test/java/org/apache/dolphinscheduler/api/controller/v2/ProcessTaskRelationV2ControllerTest.java
Owners: @caishunfeng, @SbloodyS

add UT for utils
  dolphinscheduler-task-plugin/dolphinscheduler-task-api/src/test/java/org/apache/dolphinscheduler/plugin/task/api/utils/ArgsUtilsTest.java
  dolphinscheduler-task-plugin/dolphinscheduler-task-api/src/test/java/org/apache/dolphinscheduler/plugin/task/api/utils/ProcessUtilsTest.java
Owners: @caishunfeng, @SbloodyS, @zhuangchong

add UT for utils
  dolphinscheduler-task-plugin/dolphinscheduler-task-api/src/test/java/org/apache/dolphinscheduler/plugin/task/api/utils/ArgsUtilsTest.java
  dolphinscheduler-task-plugin/dolphinscheduler-task-api/src/test/java/org/apache/dolphinscheduler/plugin/task/api/utils/ProcessUtilsTest.java
Owners: @caishunfeng, @SbloodyS, @zhuangchong

add UT for utils
  dolphinscheduler-task-plugin/dolphinscheduler-task-api/src/test/java/org/apache/dolphinscheduler/plugin/task/api/utils/ProcessUtilsTest.java
Owners: @caishunfeng, @SbloodyS, @zhuangchong

update kubernetes doc
  docs/docs/en/guide/installation/kubernetes.md
  docs/docs/zh/guide/installation/kubernetes.md
Owners: @zhongjiajie, @Tianqi-Dotes, @EricGao888

add UT for utils
  dolphinscheduler-task-plugin/dolphinscheduler-task-api/src/test/java/org/apache/dolphinscheduler/plugin/task/api/utils/ArgsUtilsTest.java
  dolphinscheduler-task-plugin/dolphinscheduler-task-api/src/test/java/org/apache/dolphinscheduler/plugin/task/api/utils/ProcessUtilsTest.java
Owners: @caishunfeng, @SbloodyS, @zhuangchong

add UT for utils
  dolphinscheduler-task-plugin/dolphinscheduler-task-api/src/test/java/org/apache/dolphinscheduler/plugin/task/api/utils/ArgsUtilsTest.java
Owners: @caishunfeng, @SbloodyS, @zhuangchong

add UT for utils
  dolphinscheduler-task-plugin/dolphinscheduler-task-api/src/test/java/org/apache/dolphinscheduler/plugin/task/api/utils/ArgsUtilsTest.java
Owners: @caishunfeng, @SbloodyS, @zhuangchong

remove WORKER_GROUP conf
  docs/docs/en/guide/installation/kubernetes.md
  docs/docs/zh/guide/installation/kubernetes.md
Owners: @zhongjiajie, @Tianqi-Dotes, @EricGao888

remove WORKER_GROUP conf in values.yaml
  deploy/kubernetes/dolphinscheduler/values.yaml
Owners: @kezhenxu94, @caishunfeng

Ignore unknown VM options in start.sh
  dolphinscheduler-alert/dolphinscheduler-alert-server/src/main/bin/start.sh
  dolphinscheduler-api/src/main/bin/start.sh
  dolphinscheduler-master/src/main/bin/start.sh
  dolphinscheduler-worker/src/main/bin/start.sh
Owners: @kezhenxu94, @caishunfeng, @SbloodyS, @ruanwenjun

[Improvement-13651] Remove useless resources_task
  dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/service/impl/ResourcesServiceImpl.java
  dolphinscheduler-dao/src/main/java/org/apache/dolphinscheduler/dao/entity/ResourcesTask.java
  dolphinscheduler-dao/src/main/java/org/apache/dolphinscheduler/dao/mapper/ResourceTaskMapper.java
  dolphinscheduler-dao/src/main/resources/org/apache/dolphinscheduler/dao/mapper/ResourceTaskMapper.xml
  dolphinscheduler-dao/src/main/resources/sql/dolphinscheduler_h2.sql
  dolphinscheduler-dao/src/main/resources/sql/dolphinscheduler_mysql.sql
  dolphinscheduler-dao/src/main/resources/sql/dolphinscheduler_postgresql.sql
  dolphinscheduler-dao/src/main/resources/sql/upgrade/3.2.0_schema/mysql/dolphinscheduler_ddl.sql
  dolphinscheduler-service/src/main/java/org/apache/dolphinscheduler/service/process/ProcessServiceImpl.java
  dolphinscheduler-service/src/test/java/org/apache/dolphinscheduler/service/process/ProcessServiceTest.java
Owners: @caishunfeng, @SbloodyS, @zhongjiajie

remove WORKER_GROUP conf in values.yaml (#13718)
  deploy/kubernetes/dolphinscheduler/values.yaml
Owners: @kezhenxu94, @caishunfeng

remove WORKER_GROUP conf in values.yaml (#13718)
  deploy/kubernetes/dolphinscheduler/values.yaml
Owners: @kezhenxu94, @caishunfeng

Ignore unknown VM options in start.sh (#13719)
  dolphinscheduler-alert/dolphinscheduler-alert-server/src/main/bin/start.sh
  dolphinscheduler-api/src/main/bin/start.sh
  dolphinscheduler-master/src/main/bin/start.sh
  dolphinscheduler-worker/src/main/bin/start.sh
Owners: @kezhenxu94, @caishunfeng, @SbloodyS, @ruanwenjun

Ignore unknown VM options in start.sh (#13719)
  dolphinscheduler-alert/dolphinscheduler-alert-server/src/main/bin/start.sh
  dolphinscheduler-api/src/main/bin/start.sh
  dolphinscheduler-master/src/main/bin/start.sh
  dolphinscheduler-worker/src/main/bin/start.sh
Owners: @kezhenxu94, @caishunfeng, @SbloodyS, @ruanwenjun

remove unnecessary log
  dolphinscheduler-common/src/main/java/org/apache/dolphinscheduler/common/log/remote/RemoteLogService.java
  dolphinscheduler-common/src/main/java/org/apache/dolphinscheduler/common/log/remote/RemoteLogUtils.java
Owners: @caishunfeng

[doc] update kubernetes doc (#13716)
  docs/docs/en/guide/installation/kubernetes.md
  docs/docs/zh/guide/installation/kubernetes.md
Owners: @zhongjiajie, @Tianqi-Dotes, @EricGao888

[doc] update kubernetes doc (#13716)
  docs/docs/en/guide/installation/kubernetes.md
  docs/docs/zh/guide/installation/kubernetes.md
Owners: @zhongjiajie, @Tianqi-Dotes, @EricGao888

提交测试
  dolphinscheduler-ui/src/utils/storage.ts
Owners: @songjianet, @Amy0104

提交测试
  dolphinscheduler-ui/src/common/enum.ts
  dolphinscheduler-ui/src/common/types.ts
  dolphinscheduler-ui/src/views/resource/components/resource/edit/index.tsx
  dolphinscheduler-ui/src/views/resource/components/resource/index.tsx
  dolphinscheduler-ui/src/views/resource/components/resource/table/use-table.ts
Owners: @songjianet, @Amy0104

提交测试
  dolphinscheduler-ui/src/utils/isEmpty.ts
Owners: @songjianet, @Amy0104

[Improvement][Resources、Project] The details page does not return to the previous list page after returning to the list page #13558
  dolphinscheduler-ui/src/common/enum.ts
  dolphinscheduler-ui/src/common/types.ts
  dolphinscheduler-ui/src/utils/isEmpty.ts
  dolphinscheduler-ui/src/utils/storage.ts
  dolphinscheduler-ui/src/views/resource/components/resource/edit/index.tsx
  dolphinscheduler-ui/src/views/resource/components/resource/index.tsx
  dolphinscheduler-ui/src/views/resource/components/resource/table/use-table.ts
Owners: @songjianet, @Amy0104

update UT for ProcessUtils
  dolphinscheduler-task-plugin/dolphinscheduler-task-api/src/test/java/org/apache/dolphinscheduler/plugin/task/api/utils/ProcessUtilsTest.java
Owners: @caishunfeng, @SbloodyS, @zhuangchong

Roll back the logic of execution complement failure stop
  dolphinscheduler-server/src/main/java/org/apache/dolphinscheduler/server/master/runner/WorkflowExecuteThread.java
Owners: none

Update rainbond.md
  docs/docs/zh/guide/integration/rainbond.md
Owners: @zhongjiajie, @Tianqi-Dotes, @EricGao888

[Improvement][Resources、Project] Improve details page return to the previous list page after returning to the list page #13558
  dolphinscheduler-ui/src/common/enum.ts
  dolphinscheduler-ui/src/common/types.ts
  dolphinscheduler-ui/src/utils/isEmpty.ts
  dolphinscheduler-ui/src/utils/storage.ts
  dolphinscheduler-ui/src/views/resource/components/resource/edit/index.tsx
  dolphinscheduler-ui/src/views/resource/components/resource/index.tsx
  dolphinscheduler-ui/src/views/resource/components/resource/table/use-table.ts
Owners: @songjianet, @Amy0104

[Improvement][Resources、Project] Improve details page return to the previous list page after returning to the list page #13558
  dolphinscheduler-ui/src/views/resource/components/resource/index.tsx
Owners: @songjianet, @Amy0104

[Feature][plugin] Add snowflake datasource in datasource plugin
  docs/docs/en/guide/datasource/snowflake.md
  docs/docs/zh/guide/datasource/snowflake.md
  docs/img/new_ui/dev/datasource/snowflake.png
  dolphinscheduler-bom/pom.xml
  dolphinscheduler-common/src/main/java/org/apache/dolphinscheduler/common/constants/DataSourceConstants.java
  dolphinscheduler-datasource-plugin/dolphinscheduler-datasource-all/pom.xml
  dolphinscheduler-datasource-plugin/dolphinscheduler-datasource-snowflake/pom.xml
  dolphinscheduler-datasource-plugin/dolphinscheduler-datasource-snowflake/src/main/java/org/apache/dolphinscheduler/plugin/datasource/snowflake/SnowflakeDataSourceChannel.java
  dolphinscheduler-datasource-plugin/dolphinscheduler-datasource-snowflake/src/main/java/org/apache/dolphinscheduler/plugin/datasource/snowflake/SnowflakeDataSourceChannelFactory.java
  dolphinscheduler-datasource-plugin/dolphinscheduler-datasource-snowflake/src/main/java/org/apache/dolphinscheduler/plugin/datasource/snowflake/SnowflakeDataSourceClient.java
  dolphinscheduler-datasource-plugin/dolphinscheduler-datasource-snowflake/src/main/java/org/apache/dolphinscheduler/plugin/datasource/snowflake/param/SnowflakeConnectionParam.java
  dolphinscheduler-datasource-plugin/dolphinscheduler-datasource-snowflake/src/main/java/org/apache/dolphinscheduler/plugin/datasource/snowflake/param/SnowflakeDatasourceParamDTO.java
  dolphinscheduler-datasource-plugin/dolphinscheduler-datasource-snowflake/src/main/java/org/apache/dolphinscheduler/plugin/datasource/snowflake/param/SnowflakeDatasourceProcessor.java
  dolphinscheduler-datasource-plugin/dolphinscheduler-datasource-snowflake/src/test/java/org/apache/dolphinscheduler/plugin/datasource/snowflake/SnowflakeDataSourceChannelFactoryTest.java
  dolphinscheduler-datasource-plugin/dolphinscheduler-datasource-snowflake/src/test/java/org/apache/dolphinscheduler/plugin/datasource/snowflake/SnowflakeDataSourceChannelTest.java
  dolphinscheduler-datasource-plugin/dolphinscheduler-datasource-snowflake/src/test/java/org/apache/dolphinscheduler/plugin/datasource/snowflake/param/SnowflakeDataSourceProcessorTest.java
  dolphinscheduler-datasource-plugin/pom.xml
  dolphinscheduler-spi/src/main/java/org/apache/dolphinscheduler/spi/enums/DbType.java
  tools/dependencies/known-dependencies.txt
Owners: @zhongjiajie, @Tianqi-Dotes, @EricGao888, @kezhenxu94, @caishunfeng

[Feature][ui] add snowflake datasource plugin
  docs/docs/en/guide/datasource/snowflake.md
  docs/docs/zh/guide/datasource/snowflake.md
  dolphinscheduler-datasource-plugin/dolphinscheduler-datasource-snowflake/pom.xml
  dolphinscheduler-datasource-plugin/dolphinscheduler-datasource-snowflake/src/main/java/org/apache/dolphinscheduler/plugin/datasource/snowflake/SnowflakeDataSourceChannelFactory.java
  dolphinscheduler-datasource-plugin/dolphinscheduler-datasource-snowflake/src/main/java/org/apache/dolphinscheduler/plugin/datasource/snowflake/param/SnowflakeConnectionParam.java
  dolphinscheduler-datasource-plugin/dolphinscheduler-datasource-snowflake/src/main/java/org/apache/dolphinscheduler/plugin/datasource/snowflake/param/SnowflakeDatasourceProcessor.java
  dolphinscheduler-datasource-plugin/dolphinscheduler-datasource-snowflake/src/test/java/org/apache/dolphinscheduler/plugin/datasource/snowflake/SnowflakeDataSourceChannelTest.java
  dolphinscheduler-datasource-plugin/dolphinscheduler-datasource-snowflake/src/test/java/org/apache/dolphinscheduler/plugin/datasource/snowflake/param/SnowflakeDataSourceProcessorTest.java
  dolphinscheduler-ui/src/locales/en_US/datasource.ts
  dolphinscheduler-ui/src/locales/zh_CN/datasource.ts
  dolphinscheduler-ui/src/service/modules/data-source/types.ts
  dolphinscheduler-ui/src/views/datasource/list/detail.tsx
  dolphinscheduler-ui/src/views/datasource/list/use-form.ts
Owners: @zhongjiajie, @Tianqi-Dotes, @EricGao888, @kezhenxu94, @caishunfeng, @songjianet, @Amy0104

Roll back the logic of execution complement failure stop (#13723)
  dolphinscheduler-server/src/main/java/org/apache/dolphinscheduler/server/master/runner/WorkflowExecuteThread.java
Owners: none

[Improvement][Resources Project] The details page does not return to the previous list page after returning to the list page #13558
  dolphinscheduler-ui/src/common/types.ts
  dolphinscheduler-ui/src/utils/isEmpty.ts
  dolphinscheduler-ui/src/utils/storage.ts
  dolphinscheduler-ui/src/views/resource/components/resource/edit/index.tsx
  dolphinscheduler-ui/src/views/resource/components/resource/index.tsx
  dolphinscheduler-ui/src/views/resource/components/resource/table/use-table.ts
Owners: @songjianet, @Amy0104

[Improvement][Resources Project] The details page does not return to the previous list page after returning to the list page #13558
  dolphinscheduler-ui/src/common/enum.ts
Owners: @songjianet, @Amy0104

[Improvement][Resources Project] The details page does not return to the previous list page after returning to the list page #13558
  dolphinscheduler-ui/src/utils/storage.ts
Owners: @songjianet, @Amy0104

[Improvement][Resources Project] The details page does not return to the previous list page after returning to the list page #13558
  dolphinscheduler-ui/src/utils/storage.ts
Owners: @songjianet, @Amy0104

[fix-13734] Fix taskExecuteType field of task definition was not set correctly(#13734)
  dolphinscheduler-dao/src/main/java/org/apache/dolphinscheduler/dao/entity/TaskDefinitionLog.java
Owners: @caishunfeng, @SbloodyS

[Feature-13419][Remote Logging] Add support for writing task logs to S3 (#13649)
  docs/docs/en/guide/remote-logging.md
  docs/docs/zh/guide/remote-logging.md
  dolphinscheduler-common/pom.xml
  dolphinscheduler-common/src/main/java/org/apache/dolphinscheduler/common/constants/Constants.java
  dolphinscheduler-common/src/main/java/org/apache/dolphinscheduler/common/log/remote/OssRemoteLogHandler.java
  dolphinscheduler-common/src/main/java/org/apache/dolphinscheduler/common/log/remote/RemoteLogHandlerFactory.java
  dolphinscheduler-common/src/main/java/org/apache/dolphinscheduler/common/log/remote/RemoteLogService.java
  dolphinscheduler-common/src/main/java/org/apache/dolphinscheduler/common/log/remote/RemoteLogUtils.java
  dolphinscheduler-common/src/main/java/org/apache/dolphinscheduler/common/log/remote/S3RemoteLogHandler.java
  dolphinscheduler-common/src/main/resources/common.properties
  dolphinscheduler-common/src/test/java/org/apache/dolphinscheduler/common/log/remote/RemoteLogHandlerTest.java
Owners: @zhongjiajie, @Tianqi-Dotes, @EricGao888, @kezhenxu94, @caishunfeng

.github/CODEOWNERS:

#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

/.github/ @kezhenxu94 @SbloodyS
/deploy/ @kezhenxu94 @caishunfeng
/dolphinscheduler-alert/ @kezhenxu94 @caishunfeng
/dolphinscheduler-e2e/ @kezhenxu94 @SbloodyS
/dolphinscheduler-api-test/ @SbloodyS
/dolphinscheduler-registry/ @kezhenxu94 @caishunfeng @ruanwenjun
/dolphinscheduler-api/ @caishunfeng @SbloodyS
/dolphinscheduler-dao/ @caishunfeng @SbloodyS
/dolphinscheduler-dao/src/main/resources/sql/ @zhongjiajie
/dolphinscheduler-common/ @caishunfeng
/dolphinscheduler-standalone-server/ @kezhenxu94 @caishunfeng
/dolphinscheduler-datasource-plugin/ @caishunfeng
/dolphinscheduler-dist/ @kezhenxu94 @caishunfeng
/dolphinscheduler-meter/ @caishunfeng @kezhenxu94 @ruanwenjun @EricGao888
/dolphinscheduler-scheduler-plugin/ @caishunfeng
/dolphinscheduler-master/ @caishunfeng @SbloodyS @ruanwenjun
/dolphinscheduler-worker/ @caishunfeng @SbloodyS @ruanwenjun
/dolphinscheduler-service/ @caishunfeng
/dolphinscheduler-remote/ @caishunfeng
/dolphinscheduler-spi/ @caishunfeng
/dolphinscheduler-task-plugin/ @caishunfeng @SbloodyS @zhuangchong
/dolphinscheduler-tools/ @caishunfeng @SbloodyS @zhongjiajie @EricGao888
/script/ @caishunfeng @SbloodyS @zhongjiajie @EricGao888
/dolphinscheduler-ui/ @songjianet @Amy0104
/docs/ @zhongjiajie @Tianqi-Dotes @EricGao888
/licenses/ @kezhenxu94 @zhongjiajie
/images/ @zhongjiajie @Tianqi-Dotes @EricGao888
/style/ @caishunfeng

# All pom files
pom.xml @kezhenxu94
