Repository apache/dolphinscheduler, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SbloodyS, @Gallardot, @caishunfeng, @ruanwenjun, @EricGao888, @zhuangchong, @songjianet, @Amy0104

Modify transfer characters (#16349)
  docs/docs/en/history-versions.md
  docs/docs/zh/history-versions.md
Owners: @EricGao888, @SbloodyS

Modify transfer characters (#16349)
  docs/docs/en/history-versions.md
  docs/docs/zh/history-versions.md
Owners: @EricGao888, @SbloodyS

modify version doc
  docs/configs/docsdev.js
  docs/docs/en/history-versions.md
  docs/docs/zh/history-versions.md
Owners: @EricGao888, @SbloodyS

modify doc of 3.2.2
  docs/docs/en/contribute/release.md
  docs/docs/en/faq.md
  docs/docs/en/guide/expansion-reduction.md
  docs/docs/en/guide/installation/kubernetes.md
  docs/docs/en/guide/installation/standalone.md
  docs/docs/en/guide/start/docker.md
  docs/docs/zh/contribute/release.md
  docs/docs/zh/faq.md
  docs/docs/zh/guide/expansion-reduction.md
  docs/docs/zh/guide/installation/kubernetes.md
  docs/docs/zh/guide/installation/standalone.md
  docs/docs/zh/guide/start/docker.md
Owners: @EricGao888, @SbloodyS

[Fix-15828] fix expandListParameter (#15878)
  dolphinscheduler-task-plugin/dolphinscheduler-task-api/src/main/java/org/apache/dolphinscheduler/plugin/task/api/AbstractTask.java
  dolphinscheduler-task-plugin/dolphinscheduler-task-api/src/main/java/org/apache/dolphinscheduler/plugin/task/api/TaskConstants.java
  dolphinscheduler-task-plugin/dolphinscheduler-task-api/src/main/java/org/apache/dolphinscheduler/plugin/task/api/utils/ParameterUtils.java
  dolphinscheduler-task-plugin/dolphinscheduler-task-api/src/test/java/org/apache/dolphinscheduler/plugin/task/api/utils/ParameterUtilsTest.java
  dolphinscheduler-task-plugin/dolphinscheduler-task-procedure/src/main/java/org/apache/dolphinscheduler/plugin/task/procedure/ProcedureTask.java
  dolphinscheduler-task-plugin/dolphinscheduler-task-sql/src/main/java/org/apache/dolphinscheduler/plugin/task/sql/SqlTask.java
  dolphinscheduler-task-plugin/dolphinscheduler-task-sql/src/test/java/org/apache/dolphinscheduler/plugin/task/sql/SqlTaskTest.java
Owners: @caishunfeng, @SbloodyS, @zhuangchong, @Gallardot

[Fix-15828] fix expandListParameter (#15878)
  dolphinscheduler-task-plugin/dolphinscheduler-task-api/src/main/java/org/apache/dolphinscheduler/plugin/task/api/AbstractTask.java
  dolphinscheduler-task-plugin/dolphinscheduler-task-api/src/main/java/org/apache/dolphinscheduler/plugin/task/api/TaskConstants.java
  dolphinscheduler-task-plugin/dolphinscheduler-task-api/src/main/java/org/apache/dolphinscheduler/plugin/task/api/utils/ParameterUtils.java
  dolphinscheduler-task-plugin/dolphinscheduler-task-api/src/test/java/org/apache/dolphinscheduler/plugin/task/api/utils/ParameterUtilsTest.java
  dolphinscheduler-task-plugin/dolphinscheduler-task-procedure/src/main/java/org/apache/dolphinscheduler/plugin/task/procedure/ProcedureTask.java
  dolphinscheduler-task-plugin/dolphinscheduler-task-sql/src/main/java/org/apache/dolphinscheduler/plugin/task/sql/SqlTask.java
  dolphinscheduler-task-plugin/dolphinscheduler-task-sql/src/test/java/org/apache/dolphinscheduler/plugin/task/sql/SqlTaskTest.java
Owners: @caishunfeng, @SbloodyS, @zhuangchong, @Gallardot

[Fix-16353] Fix incorrect parameter name 'processLineages' in batchInsert method.(#16353)
  dolphinscheduler-dao/src/main/java/org/apache/dolphinscheduler/dao/mapper/ProcessTaskLineageMapper.java
Owners: @SbloodyS, @ruanwenjun

[Fix-16353] Fix incorrect parameter name 'processLineages' in batchInsert method.(#16353) (#16354)
  dolphinscheduler-dao/src/main/java/org/apache/dolphinscheduler/dao/mapper/ProcessTaskLineageMapper.java
Owners: @SbloodyS, @ruanwenjun

[Fix-16353] Fix incorrect parameter name 'processLineages' in batchInsert method.(#16353) (#16354)
  dolphinscheduler-dao/src/main/java/org/apache/dolphinscheduler/dao/mapper/ProcessTaskLineageMapper.java
Owners: @SbloodyS, @ruanwenjun

[Fix-16346] Fix a bug that prevents re-uploading resource files
  dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/validator/resource/UpdateFileDtoValidator.java
Owners: @caishunfeng, @SbloodyS

[feature-15837] [api] Auto create workflow while import sql script
  dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/controller/ProcessDefinitionController.java
  dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/service/impl/ProcessDefinitionServiceImpl.java
  dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/task/SqlTaskParseContext.java
  dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/task/SqlTaskParsePlugin.java
  dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/task/SqlTaskParsePluginFactory.java
  dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/task/SqlTaskParsePluginLoader.java
  dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/task/SqlTaskParseResult.java
  dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/task/druid/DruidSqlTaskParsePlugin.java
  dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/task/druid/DruidSqlTaskParsePluginFactory.java
  dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/task/hint/HintEnum.java
  dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/task/hint/HintSqlTaskParsePlugin.java
  dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/task/hint/HintSqlTaskParsePluginFactory.java
  dolphinscheduler-api/src/main/resources/i18n/messages_en_US.properties
  dolphinscheduler-api/src/main/resources/i18n/messages_zh_CN.properties
  dolphinscheduler-api/src/test/java/org/apache/dolphinscheduler/api/service/ProcessDefinitionServiceTest.java
  dolphinscheduler-dao/src/main/java/org/apache/dolphinscheduler/dao/mapper/DataSourceMapper.java
  dolphinscheduler-dao/src/main/resources/org/apache/dolphinscheduler/dao/mapper/DataSourceMapper.xml
  dolphinscheduler-ui/src/locales/en_US/project.ts
  dolphinscheduler-ui/src/locales/zh_CN/project.ts
  dolphinscheduler-ui/src/service/modules/process-definition/index.ts
  dolphinscheduler-ui/src/views/projects/workflow/definition/components/import-sql-modal.tsx
  dolphinscheduler-ui/src/views/projects/workflow/definition/components/use-modal.ts
  dolphinscheduler-ui/src/views/projects/workflow/definition/index.tsx
  dolphinscheduler-ui/src/views/projects/workflow/definition/use-table.ts
Owners: @caishunfeng, @SbloodyS, @ruanwenjun, @songjianet, @Amy0104

[Fix-16346] Fix a bug that prevents re-uploading resource files (#16356)
  dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/validator/resource/UpdateFileDtoValidator.java
Owners: @caishunfeng, @SbloodyS

[Fix-16346] Fix a bug that prevents re-uploading resource files (#16356)
  dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/validator/resource/UpdateFileDtoValidator.java
Owners: @caishunfeng, @SbloodyS

add project worker group auth doc
  docs/docs/en/guide/project/project-list.md
  docs/docs/zh/guide/project/project-list.md
  docs/img/new_ui/dev/project/project-worker-group-auth.png
Owners: @EricGao888, @SbloodyS

add project worker group auth doc
  docs/docs/en/guide/project/project-list.md
Owners: @EricGao888, @SbloodyS

add project worker group auth doc
  docs/docs/en/guide/project/project-list.md
Owners: @EricGao888, @SbloodyS

[Improvement-16360] [Doc] Add project worker group auth doc (#16361)
  docs/docs/en/guide/project/project-list.md
  docs/docs/zh/guide/project/project-list.md
  docs/img/new_ui/dev/project/project-worker-group-auth.png
Owners: @EricGao888, @SbloodyS

[Improvement-16360] [Doc] Add project worker group auth doc (#16361)
  docs/docs/en/guide/project/project-list.md
  docs/docs/zh/guide/project/project-list.md
  docs/img/new_ui/dev/project/project-worker-group-auth.png
Owners: @EricGao888, @SbloodyS

use Map to avoid traversing List repeatedly
  dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/service/impl/ProjectServiceImpl.java
Owners: @caishunfeng, @SbloodyS

modify release doc
  docs/docs/en/contribute/release.md
  docs/docs/zh/contribute/release.md
Owners: @EricGao888, @SbloodyS

fix ut
  dolphinscheduler-api/src/test/java/org/apache/dolphinscheduler/api/controller/AlertPluginInstanceControllerTest.java
  dolphinscheduler-api/src/test/java/org/apache/dolphinscheduler/api/service/AlertPluginInstanceServiceTest.java
Owners: @caishunfeng, @SbloodyS

mvn spotless:apply
  docs/docs/en/contribute/release.md
  docs/docs/zh/contribute/release.md
Owners: @EricGao888, @SbloodyS

fix ut
  dolphinscheduler-api/src/test/java/org/apache/dolphinscheduler/api/controller/AlertGroupControllerTest.java
Owners: @caishunfeng, @SbloodyS

fix ut
  dolphinscheduler-api/src/test/java/org/apache/dolphinscheduler/api/service/AlertGroupServiceTest.java
  dolphinscheduler-common/src/test/java/org/apache/dolphinscheduler/common/utils/CodeGenerateUtilsTest.java
  dolphinscheduler-common/src/test/java/org/apache/dolphinscheduler/common/utils/HttpUtilsTest.java
Owners: @caishunfeng, @SbloodyS

change front build command en
  docs/docs/en/contribute/frontend-development.md
Owners: @EricGao888, @SbloodyS

change front build command zh
  docs/docs/zh/contribute/frontend-development.md
Owners: @EricGao888, @SbloodyS

[Fix] fix dingtalk at user Params
  dolphinscheduler-alert/dolphinscheduler-alert-plugins/dolphinscheduler-alert-dingtalk/src/main/java/org/apache/dolphinscheduler/plugin/alert/dingtalk/DingTalkAlertChannelFactory.java
  dolphinscheduler-alert/dolphinscheduler-alert-plugins/dolphinscheduler-alert-dingtalk/src/main/java/org/apache/dolphinscheduler/plugin/alert/dingtalk/DingTalkParamsConstants.java
  dolphinscheduler-alert/dolphinscheduler-alert-plugins/dolphinscheduler-alert-dingtalk/src/main/java/org/apache/dolphinscheduler/plugin/alert/dingtalk/DingTalkSender.java
  dolphinscheduler-ui/src/locales/en_US/security.ts
  dolphinscheduler-ui/src/locales/zh_CN/security.ts
Owners: @SbloodyS, @songjianet, @Amy0104

[Chore] modify release doc (#16371)
  docs/docs/en/contribute/release.md
  docs/docs/zh/contribute/release.md
Owners: @EricGao888, @SbloodyS

[Chore] modify release doc (#16371)
  docs/docs/en/contribute/release.md
  docs/docs/zh/contribute/release.md
Owners: @EricGao888, @SbloodyS

ut speed optimize
  dolphinscheduler-common/src/test/java/org/apache/dolphinscheduler/common/utils/CodeGenerateUtilsTest.java
  dolphinscheduler-common/src/test/java/org/apache/dolphinscheduler/common/utils/HttpUtilsTest.java
  pom.xml
Owners: @SbloodyS

[Doc-16375] change front build command (#16372)
  docs/docs/en/contribute/frontend-development.md
  docs/docs/zh/contribute/frontend-development.md
Owners: @EricGao888, @SbloodyS

[Doc-16375] change front build command (#16372)
  docs/docs/en/contribute/frontend-development.md
  docs/docs/zh/contribute/frontend-development.md
Owners: @EricGao888, @SbloodyS

fix spotless style
  pom.xml
Owners: none

fix spotless style
  pom.xml
Owners: none

fix spotless style
  pom.xml
Owners: none

fix spotless style
  pom.xml
Owners: none

fix spotless style
  pom.xml
Owners: none

[DS-15875][feat]enhance the "about Dolphinscheduler" page
  dolphinscheduler-ui/public/images/logo.png
  dolphinscheduler-ui/src/locales/zh_CN/about.ts
  dolphinscheduler-ui/src/views/about/index.tsx
Owners: @songjianet, @Amy0104

use Map to avoid traversing List repeatedly (#16365)
  dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/service/impl/ProjectServiceImpl.java
Owners: @caishunfeng, @SbloodyS

use Map to avoid traversing List repeatedly (#16365)
  dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/service/impl/ProjectServiceImpl.java
Owners: @caishunfeng, @SbloodyS

.github/CODEOWNERS:

#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

/.github/ @SbloodyS
/deploy/ @SbloodyS
/deploy/kubernetes/ @Gallardot
/dolphinscheduler-alert/ @SbloodyS
/dolphinscheduler-api/ @caishunfeng @SbloodyS
/dolphinscheduler-api-test/ @SbloodyS
/dolphinscheduler-authentication/ @ruanwenjun
/dolphinscheduler-bom/ @ruanwenjun
/dolphinscheduler-common/ @SbloodyS
/dolphinscheduler-dao/  @SbloodyS @ruanwenjun
/dolphinscheduler-dao-plugin/ @SbloodyS @ruanwenjun
/dolphinscheduler-data-quality/ @SbloodyS
/dolphinscheduler-datasource-plugin/ @SbloodyS
/dolphinscheduler-dist/ @SbloodyS
/dolphinscheduler-e2e/ @SbloodyS
/dolphinscheduler-extract/ @ruanwenjun
/dolphinscheduler-master/ @caishunfeng @SbloodyS @ruanwenjun
/dolphinscheduler-meter/  @ruanwenjun @EricGao888 @Gallardot
/dolphinscheduler-microbench/ @SbloodyS @ruanwenjun
/dolphinscheduler-registry/  @ruanwenjun @Gallardot
/dolphinscheduler-scheduler-plugin/ @ruanwenjun
/dolphinscheduler-service/ @caishunfeng
/dolphinscheduler-spi/ @caishunfeng
/dolphinscheduler-standalone-server/ @SbloodyS
/dolphinscheduler-storage-plugin/ @ruanwenjun @SbloodyS
/dolphinscheduler-task-plugin/ @caishunfeng @SbloodyS @zhuangchong @Gallardot
/dolphinscheduler-tools/ @caishunfeng @SbloodyS @EricGao888
/dolphinscheduler-ui/ @songjianet @Amy0104
/dolphinscheduler-worker/ @caishunfeng @SbloodyS @ruanwenjun
/dolphinscheduler-yarn-aop/ @ruanwenjun

/dolphinscheduler-dao/src/main/resources/sql/ @EricGao888

/script/  @SbloodyS @EricGao888
/docs/ @EricGao888 @SbloodyS
/licenses/ @EricGao888
/images/ @EricGao888
/style/ @SbloodyS @EricGao888
