Repository apache/dolphinscheduler, pull requests merged in 2022-01, with the labels that each got.

#7632 [Feature-7347] [Python]Add workflow as code task type flink
  dolphinscheduler-python/pydolphinscheduler/examples/task_flink_example.py
  dolphinscheduler-python/pydolphinscheduler/src/pydolphinscheduler/constants.py
  dolphinscheduler-python/pydolphinscheduler/src/pydolphinscheduler/tasks/flink.py
  dolphinscheduler-python/pydolphinscheduler/tests/tasks/test_flink.py
  dolphinscheduler-python/src/main/java/org/apache/dolphinscheduler/server/PythonGatewayServer.java
Labels: new feature, Python

#7759 [python] Add test for examples
  dolphinscheduler-python/pydolphinscheduler/examples/bulk_create_example.py
  dolphinscheduler-python/pydolphinscheduler/examples/task_datax_example.py
  dolphinscheduler-python/pydolphinscheduler/examples/task_dependent_example.py
  dolphinscheduler-python/pydolphinscheduler/examples/task_switch_example.py
  dolphinscheduler-python/pydolphinscheduler/tests/example/__init__.py
  dolphinscheduler-python/pydolphinscheduler/tests/example/test_example.py
Labels: enhancement, test

#7544 [Improvement] The spark version is associated with the spark command
  dolphinscheduler-task-plugin/dolphinscheduler-task-spark/src/main/java/org/apache/dolphinscheduler/plugin/task/spark/SparkTask.java
  dolphinscheduler-task-plugin/dolphinscheduler-task-spark/src/main/java/org/apache/dolphinscheduler/plugin/task/spark/SparkVersion.java
Labels: First-time contributor

#7807 [ci] Remove e2e workflow paths-ignore attribute
  .github/workflows/e2e.yml
Labels: CI&CD, Chore

#7801 [python] Enhance task datax example
  dolphinscheduler-python/pydolphinscheduler/examples/task_datax_example.py
Labels: bug, Python

#7783 [python] Task condition missing two downstream param
  dolphinscheduler-python/pydolphinscheduler/examples/task_conditions_example.py
  dolphinscheduler-python/pydolphinscheduler/src/pydolphinscheduler/core/task.py
  dolphinscheduler-python/pydolphinscheduler/src/pydolphinscheduler/tasks/condition.py
  dolphinscheduler-python/pydolphinscheduler/tests/tasks/test_condition.py
Labels: bug, Python

#7818 [python] Add checker pd attr param and fix switch example
  dolphinscheduler-python/pydolphinscheduler/examples/task_switch_example.py
  dolphinscheduler-python/pydolphinscheduler/src/pydolphinscheduler/core/process_definition.py
  dolphinscheduler-python/pydolphinscheduler/tests/core/test_process_definition.py
Labels: bug, enhancement, Python

#7847 [ci] Fix flaky test in e2e user
  dolphinscheduler-e2e/dolphinscheduler-e2e-case/src/test/java/org/apache/dolphinscheduler/e2e/pages/security/TenantPage.java
Labels: CI&CD, Chore, e2e

#7695 Correct typo in English README
  README.md
Labels: First-time contributor

#7771 [Feature-7769][API] Add batch start process api
  dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/controller/ExecutorController.java
  dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/enums/Status.java
  dolphinscheduler-api/src/main/resources/i18n/messages.properties
  dolphinscheduler-api/src/main/resources/i18n/messages_en_US.properties
  dolphinscheduler-api/src/main/resources/i18n/messages_zh_CN.properties
Labels: don't merge

#7862 [deploy] Make install.sh as executable script
  dolphinscheduler-dist/src/main/assembly/dolphinscheduler-bin.xml
  script/install.sh
Labels: Chore

#7879 [E2E]add worker group manage e2e case
  .github/workflows/e2e.yml
  dolphinscheduler-e2e/dolphinscheduler-e2e-case/src/test/java/org/apache/dolphinscheduler/e2e/cases/WorkerGroupE2ETest.java
  dolphinscheduler-e2e/dolphinscheduler-e2e-case/src/test/java/org/apache/dolphinscheduler/e2e/pages/security/SecurityPage.java
  dolphinscheduler-e2e/dolphinscheduler-e2e-case/src/test/java/org/apache/dolphinscheduler/e2e/pages/security/WorkerGroupPage.java
  dolphinscheduler-ui/src/js/conf/home/pages/security/pages/workerGroups/_source/createWorker.vue
  dolphinscheduler-ui/src/js/conf/home/pages/security/pages/workerGroups/_source/list.vue
  dolphinscheduler-ui/src/js/conf/home/pages/security/pages/workerGroups/index.vue
  dolphinscheduler-ui/src/js/module/components/secondaryMenu/_source/menu.js
Labels: e2e

#7631 [python] Fix database error handler about no datasource name
  dolphinscheduler-python/pydolphinscheduler/src/pydolphinscheduler/core/database.py
  dolphinscheduler-python/src/main/java/org/apache/dolphinscheduler/server/PythonGatewayServer.java
Labels: bug, Python

#7883 [BUG] Repair JDBC connection of Oracle
  dolphinscheduler-datasource-plugin/dolphinscheduler-datasource-api/src/main/java/org/apache/dolphinscheduler/plugin/datasource/api/datasource/oracle/OracleDataSourceProcessor.java
  dolphinscheduler-datasource-plugin/dolphinscheduler-datasource-api/src/test/java/org/apache/dolphinscheduler/plugin/datasource/api/datasource/oracle/OracleDataSourceProcessorTest.java
Labels: First-time contributor

#7877 [Improvement][API] Add and fix unit test for ExecutorController，Fix A…
  dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/controller/ExecutorController.java
  dolphinscheduler-api/src/test/java/org/apache/dolphinscheduler/api/controller/ExecutorControllerTest.java
Labels: First-time contributor

#7916 [deploy] Add tools to distribute package
  dolphinscheduler-dist/pom.xml
  pom.xml
Labels: CI&CD

#8011 Remove ambari plugin profile in 2.0.3
  dolphinscheduler-dist/pom.xml
  dolphinscheduler-ui/pom.xml
Labels: CI&CD, Chore

#7974 [CI][E2E] Optimize CI E2E test performance
  .github/workflows/e2e.yml
Labels: e2e

#7975 [Bug-7942][Config] update config of master and worker
  docker/docker-swarm/config.env.sh
  docker/kubernetes/dolphinscheduler/values.yaml
  dolphinscheduler-server/src/main/resources/master.properties
  dolphinscheduler-server/src/main/resources/worker.properties
Labels: bug, docker

#7929 [Feature-6820][api] Implement ordinary users can also share resource data source projects with others
  dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/service/impl/DataSourceServiceImpl.java
  dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/service/impl/ProjectServiceImpl.java
  dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/service/impl/ResourcesServiceImpl.java
  dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/service/impl/UsersServiceImpl.java
  dolphinscheduler-api/src/test/java/org/apache/dolphinscheduler/api/service/DataSourceServiceTest.java
  dolphinscheduler-api/src/test/java/org/apache/dolphinscheduler/api/service/ProjectServiceTest.java
  dolphinscheduler-api/src/test/java/org/apache/dolphinscheduler/api/service/ResourcesServiceTest.java
  dolphinscheduler-api/src/test/java/org/apache/dolphinscheduler/api/service/UsersServiceTest.java
Labels: new feature

#8048 [e2e] Add new test of security environment
  .github/workflows/e2e.yml
  dolphinscheduler-e2e/dolphinscheduler-e2e-case/src/test/java/org/apache/dolphinscheduler/e2e/cases/EnvironmentE2ETest.java
  dolphinscheduler-e2e/dolphinscheduler-e2e-case/src/test/java/org/apache/dolphinscheduler/e2e/pages/security/EnvironmentPage.java
  dolphinscheduler-e2e/dolphinscheduler-e2e-case/src/test/java/org/apache/dolphinscheduler/e2e/pages/security/SecurityPage.java
  dolphinscheduler-ui/src/js/conf/home/pages/security/pages/environment/_source/createEnvironment.vue
  dolphinscheduler-ui/src/js/conf/home/pages/security/pages/environment/_source/list.vue
  dolphinscheduler-ui/src/js/conf/home/pages/security/pages/environment/index.vue
  dolphinscheduler-ui/src/js/module/components/secondaryMenu/_source/menu.js
Labels: e2e

#7915 [Improvement-7907][refactor] Optimization for query task instances list when build dag flow
  dolphinscheduler-master/src/main/java/org/apache/dolphinscheduler/server/master/runner/WorkflowExecuteThread.java
  dolphinscheduler-master/src/test/java/org/apache/dolphinscheduler/server/master/WorkflowExecuteThreadTest.java
  dolphinscheduler-service/src/main/java/org/apache/dolphinscheduler/service/process/ProcessService.java
  dolphinscheduler-service/src/test/java/org/apache/dolphinscheduler/service/process/ProcessServiceTest.java
Labels: enhancement, Waiting for review, core

#8054 add unit test of queryWorkAddressList
  dolphinscheduler-api/src/test/java/org/apache/dolphinscheduler/api/controller/WorkerGroupControllerTest.java
Labels: First-time contributor

#8082 [Fix][Workflow Instance] Add Workflow instalce batch delete reload table list.
  dolphinscheduler-ui/src/js/conf/home/pages/projects/pages/instance/pages/list/_source/list.vue
Labels: bug, UI

#8088 [Feature][UI Next] Add monitor router.
  dolphinscheduler-ui-next/src/router/modules/monitor.ts
Labels: new feature, UI

#8066 [Feature-7993][E2E] Replace HDFS image with MinIO S3 image
  dolphinscheduler-e2e/dolphinscheduler-e2e-case/src/test/resources/docker/file-manage/common.properties
  dolphinscheduler-e2e/dolphinscheduler-e2e-case/src/test/resources/docker/file-manage/docker-compose.yaml
Labels: e2e

#8091 [bug] Fix datax task type error parse clickhouse reader sql
  dolphinscheduler-task-plugin/dolphinscheduler-task-datax/src/main/java/org/apache/dolphinscheduler/plugin/task/datax/DataxUtils.java
Labels: bug, First-time contributor, plug-in

#8108 [Feature][UI Next] Add navbar username.
  dolphinscheduler-ui-next/src/layouts/content/components/user/index.tsx
Labels: UI

#8109 [Fix][UI Next] Fix the router problem of click to log out.
  dolphinscheduler-ui-next/src/layouts/content/components/user/use-dropdown.ts
Labels: new feature, UI

#8118 [Feature][UI Next]Fix menu bar status bug
  dolphinscheduler-ui-next/src/layouts/content/components/navbar/index.tsx
  dolphinscheduler-ui-next/src/layouts/content/components/sidebar/index.tsx
  dolphinscheduler-ui-next/src/layouts/content/components/sidebar/use-menuClick.ts
  dolphinscheduler-ui-next/src/layouts/content/index.tsx
  dolphinscheduler-ui-next/src/router/index.ts
  dolphinscheduler-ui-next/src/router/modules/datasource.ts
  dolphinscheduler-ui-next/src/router/modules/monitor.ts
  dolphinscheduler-ui-next/src/router/modules/projects.ts
  dolphinscheduler-ui-next/src/router/modules/resources.ts
  dolphinscheduler-ui-next/src/router/modules/security.ts
  dolphinscheduler-ui-next/src/store/menu/menu.ts
  dolphinscheduler-ui-next/src/store/menu/types.ts
Labels: UI

#8085 [E2E][CI] Add DataSource E2E test
  .github/workflows/e2e.yml
  dolphinscheduler-e2e/dolphinscheduler-e2e-case/src/test/java/org/apache/dolphinscheduler/e2e/cases/ClickhouseDataSourceE2ETest.java
  dolphinscheduler-e2e/dolphinscheduler-e2e-case/src/test/java/org/apache/dolphinscheduler/e2e/cases/MysqlDataSourceE2ETest.java
  dolphinscheduler-e2e/dolphinscheduler-e2e-case/src/test/java/org/apache/dolphinscheduler/e2e/cases/PostgresDataSourceE2ETest.java
  dolphinscheduler-e2e/dolphinscheduler-e2e-case/src/test/java/org/apache/dolphinscheduler/e2e/cases/SqlServerDataSourceE2ETest.java
  dolphinscheduler-e2e/dolphinscheduler-e2e-case/src/test/java/org/apache/dolphinscheduler/e2e/pages/common/NavBarPage.java
  dolphinscheduler-e2e/dolphinscheduler-e2e-case/src/test/java/org/apache/dolphinscheduler/e2e/pages/datasource/DataSourcePage.java
  dolphinscheduler-e2e/dolphinscheduler-e2e-case/src/test/java/org/apache/dolphinscheduler/e2e/pages/security/SecurityPage.java
  dolphinscheduler-e2e/dolphinscheduler-e2e-case/src/test/resources/docker/datasource-clickhouse/docker-compose.yaml
  dolphinscheduler-e2e/dolphinscheduler-e2e-case/src/test/resources/docker/datasource-mysql/docker-compose.yaml
  dolphinscheduler-e2e/dolphinscheduler-e2e-case/src/test/resources/docker/datasource-mysql/download-mysql.sh
  dolphinscheduler-e2e/dolphinscheduler-e2e-case/src/test/resources/docker/datasource-postgresql/docker-compose.yaml
  dolphinscheduler-e2e/dolphinscheduler-e2e-case/src/test/resources/docker/datasource-sqlserver/docker-compose.yaml
  dolphinscheduler-ui/src/js/conf/home/pages/datasource/pages/list/_source/createDataSource.vue
  dolphinscheduler-ui/src/js/conf/home/pages/datasource/pages/list/_source/list.vue
  dolphinscheduler-ui/src/js/conf/home/pages/datasource/pages/list/index.vue
  dolphinscheduler-ui/src/js/module/components/nav/nav.vue
Labels: e2e

#8143 Fix wrong Python gateway docker image name
  deploy/docker/docker-compose.yml
Labels: bug, docker

#8140 [Feature-7348] [Python]Add workflow as code task type mr
  dolphinscheduler-python/pydolphinscheduler/examples/task_map_reduce_example.py
  dolphinscheduler-python/pydolphinscheduler/src/pydolphinscheduler/constants.py
  dolphinscheduler-python/pydolphinscheduler/src/pydolphinscheduler/tasks/map_reduce.py
  dolphinscheduler-python/pydolphinscheduler/tests/tasks/test_map_reduce.py
Labels: new feature, Python

#8139 [Feature-8138][Task] add at@ msg in the dingtalk task plugin
  dolphinscheduler-alert/dolphinscheduler-alert-plugins/dolphinscheduler-alert-dingtalk/src/main/java/org/apache/dolphinscheduler/plugin/alert/dingtalk/DingTalkAlertChannelFactory.java
  dolphinscheduler-alert/dolphinscheduler-alert-plugins/dolphinscheduler-alert-dingtalk/src/main/java/org/apache/dolphinscheduler/plugin/alert/dingtalk/DingTalkParamsConstants.java
  dolphinscheduler-alert/dolphinscheduler-alert-plugins/dolphinscheduler-alert-dingtalk/src/main/java/org/apache/dolphinscheduler/plugin/alert/dingtalk/DingTalkSender.java
  dolphinscheduler-alert/dolphinscheduler-alert-plugins/dolphinscheduler-alert-dingtalk/src/test/java/org/apache/dolphinscheduler/plugin/alert/dingtalk/DingTalkAlertChannelFactoryTest.java
  dolphinscheduler-ui/src/js/module/i18n/locale/en_US.js
  dolphinscheduler-ui/src/js/module/i18n/locale/zh_CN.js
Labels: enhancement, plug-in, miss document

#8153 [Fix][UI Next] Fix Security User Manage route was outdated
  dolphinscheduler-ui-next/src/router/modules/security.ts
Labels: new feature, UI

#6322 [Feature-5822][api] Add audit log
  dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/audit/AuditMessage.java
  dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/audit/AuditPublishService.java
  dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/audit/AuditSubscriber.java
  dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/audit/AuditSubscriberImpl.java
  dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/configuration/AuditConfiguration.java
  dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/controller/AuditLogController.java
  dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/dto/AuditDto.java
  dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/enums/Status.java
  dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/service/AuditService.java
  dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/service/impl/AuditServiceImpl.java
  dolphinscheduler-api/src/main/resources/application.yaml
  dolphinscheduler-api/src/main/resources/i18n/messages.properties
  dolphinscheduler-api/src/main/resources/i18n/messages_en_US.properties
  dolphinscheduler-api/src/main/resources/i18n/messages_zh_CN.properties
  dolphinscheduler-api/src/test/java/org/apache/dolphinscheduler/api/audit/AuditSubscriberTest.java
  dolphinscheduler-api/src/test/java/org/apache/dolphinscheduler/api/configuration/AuditConfigurationTest.java
  dolphinscheduler-api/src/test/java/org/apache/dolphinscheduler/api/controller/AuditLogControllerTest.java
  dolphinscheduler-api/src/test/java/org/apache/dolphinscheduler/api/service/AuditServiceTest.java
  dolphinscheduler-api/src/test/resources/application.yaml
  dolphinscheduler-common/src/main/java/org/apache/dolphinscheduler/common/enums/AuditOperationType.java
  dolphinscheduler-common/src/main/java/org/apache/dolphinscheduler/common/enums/AuditResourceType.java
  dolphinscheduler-dao/src/main/java/org/apache/dolphinscheduler/dao/entity/AuditLog.java
  dolphinscheduler-dao/src/main/java/org/apache/dolphinscheduler/dao/mapper/AuditLogMapper.java
  dolphinscheduler-dao/src/main/resources/org/apache/dolphinscheduler/dao/mapper/AuditLogMapper.xml
  dolphinscheduler-dao/src/main/resources/sql/dolphinscheduler_h2.sql
  dolphinscheduler-dao/src/main/resources/sql/dolphinscheduler_mysql.sql
  dolphinscheduler-dao/src/main/resources/sql/dolphinscheduler_postgresql.sql
  dolphinscheduler-dao/src/main/resources/sql/upgrade/2.0.0_schema/mysql/dolphinscheduler_ddl.sql
  dolphinscheduler-dao/src/main/resources/sql/upgrade/2.0.0_schema/postgresql/dolphinscheduler_ddl.sql
  dolphinscheduler-dao/src/test/java/org/apache/dolphinscheduler/dao/mapper/AuditLogMapperTest.java
  dolphinscheduler-standalone-server/src/main/resources/application.yaml
  dolphinscheduler-ui/src/js/conf/home/pages/monitor/pages/_source/conditions/audit/auditLog.vue
  dolphinscheduler-ui/src/js/conf/home/pages/monitor/pages/_source/conditions/audit/common.js
  dolphinscheduler-ui/src/js/conf/home/pages/monitor/pages/_source/conditions/index.vue
  dolphinscheduler-ui/src/js/conf/home/pages/monitor/pages/log/_source/list.vue
  dolphinscheduler-ui/src/js/conf/home/pages/monitor/pages/log/index.vue
  dolphinscheduler-ui/src/js/conf/home/router/module/monitor.js
  dolphinscheduler-ui/src/js/conf/home/store/projects/actions.js
  dolphinscheduler-ui/src/js/module/components/secondaryMenu/_source/menu.js
  dolphinscheduler-ui/src/js/module/i18n/locale/en_US.js
  dolphinscheduler-ui/src/js/module/i18n/locale/zh_CN.js
Labels: new feature, first time contributor, UI, backend, soc2021

#8197 Clean up the E2E with Java API to avoid platform sensitive
  dolphinscheduler-e2e/dolphinscheduler-e2e-case/src/test/java/org/apache/dolphinscheduler/e2e/cases/FileManageE2ETest.java
  dolphinscheduler-e2e/dolphinscheduler-e2e-case/src/test/java/org/apache/dolphinscheduler/e2e/cases/WorkerGroupE2ETest.java
  dolphinscheduler-e2e/dolphinscheduler-e2e-case/src/test/resources/docker/file-manage/docker-compose.yaml
  dolphinscheduler-e2e/dolphinscheduler-e2e-core/src/main/java/org/apache/dolphinscheduler/e2e/core/Constants.java
  dolphinscheduler-e2e/dolphinscheduler-e2e-core/src/main/java/org/apache/dolphinscheduler/e2e/core/DolphinSchedulerExtension.java
  dolphinscheduler-e2e/pom.xml
Labels: e2e

#8214 [E2E]Fix file manage e2e error
  dolphinscheduler-e2e/dolphinscheduler-e2e-case/src/test/java/org/apache/dolphinscheduler/e2e/cases/FileManageE2ETest.java
  dolphinscheduler-ui/src/js/module/components/nav/nav.vue
Labels: e2e

#8203 [E2E] add udf manage test
  .github/workflows/e2e.yml
  dolphinscheduler-e2e/dolphinscheduler-e2e-case/src/test/java/org/apache/dolphinscheduler/e2e/cases/FileManageE2ETest.java
  dolphinscheduler-e2e/dolphinscheduler-e2e-case/src/test/java/org/apache/dolphinscheduler/e2e/cases/UdfManageE2ETest.java
  dolphinscheduler-e2e/dolphinscheduler-e2e-case/src/test/java/org/apache/dolphinscheduler/e2e/pages/resource/FunctionManagePage.java
  dolphinscheduler-e2e/dolphinscheduler-e2e-case/src/test/java/org/apache/dolphinscheduler/e2e/pages/resource/ResourcePage.java
  dolphinscheduler-e2e/dolphinscheduler-e2e-case/src/test/java/org/apache/dolphinscheduler/e2e/pages/resource/UdfManagePage.java
  dolphinscheduler-ui/src/js/conf/home/pages/resource/pages/udf/pages/createUdfFolder/index.vue
  dolphinscheduler-ui/src/js/conf/home/pages/resource/pages/udf/pages/function/_source/createUdf.vue
  dolphinscheduler-ui/src/js/conf/home/pages/resource/pages/udf/pages/resource/_source/list.vue
  dolphinscheduler-ui/src/js/conf/home/pages/resource/pages/udf/pages/resource/_source/rename.vue
  dolphinscheduler-ui/src/js/conf/home/pages/resource/pages/udf/pages/resource/index.vue
  dolphinscheduler-ui/src/js/module/components/fileUpdate/udfUpdate.vue
Labels: e2e

#8224 [Improvement][E2E] use testcontainers host
  dolphinscheduler-e2e/dolphinscheduler-e2e-core/src/main/java/org/apache/dolphinscheduler/e2e/core/DolphinSchedulerExtension.java
Labels: e2e

#8210 [python] Clean deps and prepare release
  .github/workflows/py-ci.yml
  dolphinscheduler-python/pydolphinscheduler/DEVELOP.md
  dolphinscheduler-python/pydolphinscheduler/README.md
  dolphinscheduler-python/pydolphinscheduler/RELEASE.md
  dolphinscheduler-python/pydolphinscheduler/ROADMAP.md
  dolphinscheduler-python/pydolphinscheduler/requirements.txt
  dolphinscheduler-python/pydolphinscheduler/requirements_dev.txt
  dolphinscheduler-python/pydolphinscheduler/setup.py
  dolphinscheduler-python/pydolphinscheduler/src/pydolphinscheduler/__init__.py
Labels: dependencies, development, Python

#7596 [FIX-7514] press Enter key get "true" not new line
  dolphinscheduler-ui/src/js/conf/home/pages/dag/_source/formModel/tasks/_source/jsonBox.vue
  dolphinscheduler-ui/src/js/conf/home/pages/dag/_source/formModel/tasks/_source/scriptBox.vue
  dolphinscheduler-ui/src/js/conf/home/pages/dag/_source/formModel/tasks/datax.vue
  dolphinscheduler-ui/src/js/conf/home/pages/dag/_source/formModel/tasks/python.vue
  dolphinscheduler-ui/src/js/conf/home/pages/dag/_source/formModel/tasks/shell.vue
  dolphinscheduler-ui/src/js/conf/home/pages/dag/_source/formModel/tasks/sql.vue
  dolphinscheduler-ui/src/js/conf/home/pages/dag/_source/formModel/tasks/sqoop.vue
  dolphinscheduler-ui/src/js/conf/home/pages/dag/_source/formModel/tasks/switch.vue
  dolphinscheduler-ui/src/js/conf/home/pages/resource/pages/file/pages/create/index.vue
  dolphinscheduler-ui/src/js/conf/home/pages/resource/pages/file/pages/edit/index.vue
  dolphinscheduler-ui/src/js/conf/home/pages/resource/pages/file/pages/subFile/index.vue
Labels: UI

#8234 [ci] Change bug-report add 2.0.4 and rm 2.0.0 and 1.3.6
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: Chore, community

#8248 [python] Fix python api can't connect to remote gateway server
  dolphinscheduler-python/pydolphinscheduler/src/pydolphinscheduler/constants.py
  dolphinscheduler-python/pydolphinscheduler/src/pydolphinscheduler/java_gateway.py
  dolphinscheduler-python/src/main/java/org/apache/dolphinscheduler/server/PythonGatewayServer.java
  dolphinscheduler-python/src/main/java/org/apache/dolphinscheduler/server/config/PythonGatewayConfig.java
  dolphinscheduler-python/src/main/resources/application.yaml
  dolphinscheduler-standalone-server/src/main/resources/application.yaml
Labels: bug, development, Python

#8250 [E2E] add function manage test case
  .github/workflows/e2e.yml
  dolphinscheduler-e2e/dolphinscheduler-e2e-case/src/test/java/org/apache/dolphinscheduler/e2e/cases/FunctionManageE2ETest.java
  dolphinscheduler-e2e/dolphinscheduler-e2e-case/src/test/java/org/apache/dolphinscheduler/e2e/pages/resource/FunctionManagePage.java
  dolphinscheduler-ui/src/js/conf/home/pages/resource/pages/udf/pages/function/_source/createUdf.vue
  dolphinscheduler-ui/src/js/conf/home/pages/resource/pages/udf/pages/function/_source/list.vue
  dolphinscheduler-ui/src/js/conf/home/pages/resource/pages/udf/pages/function/index.vue
Labels: e2e

#8161 [E2E] Add new test of token management
  .github/workflows/e2e.yml
  dolphinscheduler-e2e/dolphinscheduler-e2e-case/src/test/java/org/apache/dolphinscheduler/e2e/cases/TokenE2ETest.java
  dolphinscheduler-e2e/dolphinscheduler-e2e-case/src/test/java/org/apache/dolphinscheduler/e2e/pages/security/SecurityPage.java
  dolphinscheduler-e2e/dolphinscheduler-e2e-case/src/test/java/org/apache/dolphinscheduler/e2e/pages/security/TokenPage.java
  dolphinscheduler-ui/src/js/conf/home/pages/user/pages/token/_source/createToken.vue
  dolphinscheduler-ui/src/js/conf/home/pages/user/pages/token/_source/list.vue
  dolphinscheduler-ui/src/js/conf/home/pages/user/pages/token/index.vue
  dolphinscheduler-ui/src/js/module/components/secondaryMenu/_source/menu.js
Labels: e2e
