Repository apache/dolphinscheduler, pull requests merged in 2024-09, with the labels that each got.

#16556 [Doc-16555] Add note of Alert Script Plugin
  docs/docs/en/guide/alert/script.md
  docs/docs/zh/guide/alert/script.md
Labels: document

#16575 [Improvement-16574][Master] Move some task operations into ITaskExecutionRunnable
  dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/executor/workflow/BackfillWorkflowExecutorDelegate.java
  dolphinscheduler-extract/dolphinscheduler-extract-master/src/main/java/org/apache/dolphinscheduler/extract/master/transportor/workflow/WorkflowBackfillTriggerRequest.java
  dolphinscheduler-master/src/main/java/org/apache/dolphinscheduler/server/master/engine/task/lifecycle/handler/TaskPauseLifecycleEventHandler.java
  dolphinscheduler-master/src/main/java/org/apache/dolphinscheduler/server/master/engine/task/lifecycle/handler/TaskStartLifecycleEventHandler.java
  dolphinscheduler-master/src/main/java/org/apache/dolphinscheduler/server/master/engine/task/runnable/ITaskExecutionRunnable.java
  dolphinscheduler-master/src/main/java/org/apache/dolphinscheduler/server/master/engine/task/runnable/TaskExecutionRunnable.java
  dolphinscheduler-master/src/main/java/org/apache/dolphinscheduler/server/master/engine/task/statemachine/AbstractTaskStateAction.java
  dolphinscheduler-master/src/main/java/org/apache/dolphinscheduler/server/master/engine/task/statemachine/TaskFailureStateAction.java
  dolphinscheduler-master/src/main/java/org/apache/dolphinscheduler/server/master/engine/workflow/listener/WorkflowSuccessLifecycleListener.java
  dolphinscheduler-master/src/main/java/org/apache/dolphinscheduler/server/master/engine/workflow/runnable/WorkflowExecutionRunnable.java
  dolphinscheduler-master/src/main/java/org/apache/dolphinscheduler/server/master/engine/workflow/statemachine/WorkflowRunningStateAction.java
  dolphinscheduler-master/src/main/java/org/apache/dolphinscheduler/server/master/engine/workflow/trigger/WorkflowBackfillTrigger.java
Labels: improvement, backend

#16585 [Improvement-8295][Document] Standalone Deployment doc should instruct users to configure sudo without password
  docs/docs/en/guide/installation/pseudo-cluster.md
  docs/docs/en/guide/installation/standalone.md
  docs/docs/zh/guide/installation/pseudo-cluster.md
  docs/docs/zh/guide/installation/standalone.md
Labels: improvement, document

#16592 [Chore] Improve the robustness of CI
  .github/workflows/api-test.yml
  .github/workflows/backend.yml
  .github/workflows/e2e.yml
  .github/workflows/publish-docker.yaml
  .github/workflows/schema-check/mysql/start-job.sh
  .github/workflows/schema-check/postgresql/start-job.sh
  .github/workflows/unit-test.yml
Labels: backend, CI&CD, e2e, chore

#16590 [Feature-10872][UI] Display the total count in all listing page
  dolphinscheduler-ui/src/locales/en_US/project.ts
  dolphinscheduler-ui/src/locales/zh_CN/project.ts
  dolphinscheduler-ui/src/utils/tableTotalCount.ts
  dolphinscheduler-ui/src/views/projects/list/index.tsx
  dolphinscheduler-ui/src/views/projects/list/use-table.ts
  dolphinscheduler-ui/src/views/projects/task/instance/batch-task.tsx
  dolphinscheduler-ui/src/views/projects/task/instance/stream-task.tsx
  dolphinscheduler-ui/src/views/projects/task/instance/use-stream-table.ts
  dolphinscheduler-ui/src/views/projects/task/instance/use-table.ts
  dolphinscheduler-ui/src/views/projects/workflow/definition/index.tsx
  dolphinscheduler-ui/src/views/projects/workflow/definition/use-table.ts
  dolphinscheduler-ui/src/views/projects/workflow/instance/index.tsx
  dolphinscheduler-ui/src/views/projects/workflow/instance/use-table.ts
Labels: feature, UI

#16587 [Improvement-16586][Doc] Rename sub-process to sub-workflow in docs
  docs/configs/docsdev.js
  docs/docs/en/guide/parameter/context.md
  docs/docs/en/guide/task/sub-workflow.md
  docs/docs/zh/guide/parameter/context.md
  docs/docs/zh/guide/task/sub-workflow.md
  docs/img/new_ui/dev/parameter/context-sub-workflow01.png
  docs/img/new_ui/dev/parameter/context-sub-workflow02.png
  docs/img/new_ui/dev/parameter/context-sub-workflow03.png
  docs/img/new_ui/dev/parameter/context-sub-workflow04.png
  docs/img/new_ui/dev/parameter/context-sub-workflow05.png
  docs/img/tasks/demo/subworkflow_task01.png
  docs/img/tasks/demo/subworkflow_task02.png
  docs/img/tasks/demo/subworkflow_task03.png
Labels: improvement, document

#16600 [Chore][CI] Fix ci cache error
  .github/workflows/api-test.yml
  .github/workflows/e2e.yml
Labels: CI&CD, e2e, chore

#16588 [Fix-16569][alert] Feishu send alert message failed
  dolphinscheduler-alert/dolphinscheduler-alert-plugins/dolphinscheduler-alert-feishu/src/main/java/org/apache/dolphinscheduler/plugin/alert/feishu/FeiShuAlertChannel.java
  dolphinscheduler-alert/dolphinscheduler-alert-plugins/dolphinscheduler-alert-feishu/src/main/java/org/apache/dolphinscheduler/plugin/alert/feishu/FeiShuSender.java
  dolphinscheduler-alert/dolphinscheduler-alert-plugins/dolphinscheduler-alert-feishu/src/test/java/org/apache/dolphinscheduler/plugin/alert/feishu/FeiShuSenderTest.java
Labels: bug, backend, test, ready-to-merge

#16599 [Improvement-16598][UI] SQL task type optimization of sending alarm notifications
  dolphinscheduler-ui/src/locales/en_US/project.ts
  dolphinscheduler-ui/src/locales/zh_CN/project.ts
  dolphinscheduler-ui/src/views/projects/task/components/node/fields/use-sql-type.ts
Labels: UI, improvement

#16633 [Chore][CI][Hotfix] Fix sqlserver e2e test ci error
  dolphinscheduler-e2e/dolphinscheduler-e2e-case/src/test/resources/docker/datasource-sqlserver/docker-compose.yaml
Labels: test, CI&CD, e2e, chore

#16630 [Fix-16629][UI][Workflow Instance] fix status display error
  dolphinscheduler-ui/src/common/common.ts
  dolphinscheduler-ui/src/locales/en_US/project.ts
  dolphinscheduler-ui/src/locales/zh_CN/project.ts
Labels: bug, UI

#16640 [Improvement-16641] Add thread name in logback
  dolphinscheduler-alert/dolphinscheduler-alert-server/src/main/resources/logback-spring.xml
  dolphinscheduler-api/src/main/resources/logback-spring.xml
  dolphinscheduler-master/src/main/resources/logback-spring.xml
  dolphinscheduler-master/src/test/resources/logback.xml
  dolphinscheduler-standalone-server/src/main/resources/logback-spring.xml
  dolphinscheduler-worker/src/main/resources/logback-spring.xml
Labels: improvement, backend, test

#16639 [Chore] Remove maven-javadoc-plugin
  pom.xml
Labels: 3.3.0, chore

#16636 [Improvement-16635] Using Docker Hub in Schema Check CI
  .github/workflows/backend.yml
  .github/workflows/schema-check/mysql/docker-compose-base.yaml
  .github/workflows/schema-check/mysql/running-test.sh
  .github/workflows/schema-check/mysql/start-job.sh
  .github/workflows/schema-check/postgresql/docker-compose-base.yaml
  .github/workflows/schema-check/postgresql/running-test.sh
  .github/workflows/schema-check/postgresql/start-job.sh
Labels: improvement, backend, CI&CD, chore

#16576 [Fix-16567] Unable to delete copied nodes in unsaved workflow
  dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/service/impl/WorkflowLineageServiceImpl.java
  dolphinscheduler-ui/src/views/projects/components/dependencies/use-dependencies.ts
Labels: bug, first time contributor, UI, backend

#16654 [DSIP-38] Support upload/download plugins from maven repo
  .github/workflows/api-test.yml
  .github/workflows/backend.yml
  .github/workflows/e2e-k8s.yml
  .github/workflows/e2e.yml
  .github/workflows/publish-nexus.yaml
  .github/workflows/publish-nexus/release-asf-settings.xml
  .github/workflows/publish-nexus/snapshot-asf-settings.xml
  .licenserc.yaml
  config/plugins_config
  docs/docs/en/guide/installation/pseudo-cluster.md
  docs/docs/en/guide/installation/standalone.md
  docs/docs/en/guide/upgrade/incompatible.md
  docs/docs/en/guide/upgrade/upgrade.md
  docs/docs/zh/guide/installation/pseudo-cluster.md
  docs/docs/zh/guide/installation/standalone.md
  docs/docs/zh/guide/upgrade/incompatible.md
  docs/docs/zh/guide/upgrade/upgrade.md
  dolphinscheduler-alert/dolphinscheduler-alert-server/src/main/bin/start.sh
  dolphinscheduler-api/src/main/bin/start.sh
  dolphinscheduler-dist/pom.xml
  dolphinscheduler-dist/src/main/assembly/assembly-plugins.sh
  dolphinscheduler-dist/src/main/assembly/dolphinscheduler-bin.xml
  dolphinscheduler-dist/src/main/docker/alert-server.dockerfile
  dolphinscheduler-dist/src/main/docker/api-server.dockerfile
  dolphinscheduler-dist/src/main/docker/master-server.dockerfile
  dolphinscheduler-dist/src/main/docker/standalone-server.dockerfile
  dolphinscheduler-dist/src/main/docker/tools.dockerfile
  dolphinscheduler-dist/src/main/docker/worker-server.dockerfile
  dolphinscheduler-master/src/main/bin/start.sh
  dolphinscheduler-standalone-server/src/main/bin/start.sh
  dolphinscheduler-standalone-server/src/main/resources/application.yaml
  dolphinscheduler-standalone-server/src/main/resources/standalone-banner.txt
  dolphinscheduler-ui/pom.xml
  dolphinscheduler-worker/src/main/bin/start.sh
  pom.xml
  script/install-plugins.sh
Labels: UI, backend, CI&CD, DSIP, e2e, document

#16652 [Fix-16650] Memory leaks in KubernetesApplicationManager
  dolphinscheduler-task-plugin/dolphinscheduler-task-api/src/main/java/org/apache/dolphinscheduler/plugin/task/api/k8s/impl/K8sTaskExecutor.java
  dolphinscheduler-task-plugin/dolphinscheduler-task-api/src/main/java/org/apache/dolphinscheduler/plugin/task/api/utils/ProcessUtils.java
  dolphinscheduler-task-plugin/dolphinscheduler-task-api/src/test/java/org/apache/dolphinscheduler/plugin/task/api/utils/ProcessUtilsTest.java
Labels: bug, backend, test, 3.3.0

#16666 [Fix-16655][Doc] Fix the missing document
  docs/configs/docsdev.js
  docs/configs/index.md.jsx
  docs/docs/en/guide/installation/datasource-setting.md
  docs/docs/en/guide/installation/general-setting.md
  docs/docs/en/guide/installation/pseudo-cluster.md
  docs/docs/en/guide/installation/standalone.md
  docs/docs/zh/guide/installation/datasource-setting.md
  docs/docs/zh/guide/installation/general-setting.md
  docs/docs/zh/guide/installation/pseudo-cluster.md
  docs/docs/zh/guide/installation/standalone.md
Labels: bug, document

#16594 [Improvement-16534][Master] Switch task support includes method
  dolphinscheduler-master/src/main/java/org/apache/dolphinscheduler/server/master/utils/SwitchTaskUtils.java
  dolphinscheduler-master/src/test/java/org/apache/dolphinscheduler/server/master/utils/SwitchTaskUtilsTest.java
Labels: improvement, backend, test

#16667 [Chore] Fix publish docker error in CI
  .github/workflows/api-test.yml
  .github/workflows/codeql.yaml
  .github/workflows/e2e-k8s.yml
  .github/workflows/e2e.yml
  .github/workflows/publish-docker.yaml
  .github/workflows/publish-nexus.yaml
  docs/docs/en/contribute/development-environment-setup.md
  docs/docs/en/contribute/release.md
  docs/docs/zh/contribute/development-environment-setup.md
  docs/docs/zh/contribute/release.md
  dolphinscheduler-dist/pom.xml
  pom.xml
Labels: backend, CI&CD, e2e, document, chore

#16579 [Fix-16578] Fix environment resource permission
  dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/permission/ResourcePermissionCheckServiceImpl.java
  dolphinscheduler-api/src/test/java/org/apache/dolphinscheduler/api/permission/EnvironmentResourcePermissionCheckTest.java
Labels: bug, backend, test, ready-to-merge
