Repository apache/dolphinscheduler, pull requests merged in 2025-06, with the labels that each got.

#17229 [Doc-17228] [README] Point links to latest docs and correct typos
  README.md
  README_zh_CN.md
Labels: first time contributor, improvement, document

#17240 [Fix-17239][Dependent] Dependent check get wrong result in manual running execution type
  dolphinscheduler-dao/src/main/java/org/apache/dolphinscheduler/dao/mapper/WorkflowInstanceMapper.java
  dolphinscheduler-dao/src/main/java/org/apache/dolphinscheduler/dao/repository/WorkflowInstanceDao.java
  dolphinscheduler-dao/src/main/java/org/apache/dolphinscheduler/dao/repository/impl/WorkflowInstanceDaoImpl.java
  dolphinscheduler-dao/src/main/resources/org/apache/dolphinscheduler/dao/mapper/WorkflowInstanceMapper.xml
  dolphinscheduler-master/src/main/java/org/apache/dolphinscheduler/server/master/utils/DependentExecute.java
Labels: bug, backend

#17233 [Fix-17232][master] handle the problem that master nodes gains the same slot id
  dolphinscheduler-master/src/main/java/org/apache/dolphinscheduler/server/master/cluster/MasterSlotManager.java
  dolphinscheduler-master/src/test/java/org/apache/dolphinscheduler/server/master/cluster/MasterSlotManagerTest.java
Labels: bug, backend, test, priority:high

#17223 [Chore] Skip maven-dependency-plugin in ci
  .github/workflows/api-test.yml
  .github/workflows/backend.yml
  .github/workflows/e2e-k8s.yml
  .github/workflows/e2e.yml
  .github/workflows/unit-test.yml
  pom.xml
Labels: backend, CI&CD, e2e, chore

#17242 [Improvement-17241][UI] workflow instance list index should display workflow instance id instead of serial number
  dolphinscheduler-ui/src/views/projects/workflow/instance/use-table.ts
Labels: UI, improvement

#17132 [Fix-17026][API] Fix the schedule-release-state from import workflowDefinition whose scheduled-release-state was online
  docs/docs/en/faq.md
  docs/docs/zh/faq.md
  dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/service/impl/WorkflowDefinitionServiceImpl.java
  dolphinscheduler-api/src/test/java/org/apache/dolphinscheduler/api/service/WorkflowDefinitionServiceTest.java
  dolphinscheduler-api/src/test/resources/workflowImport/check_duplicate_name.json
  dolphinscheduler-api/src/test/resources/workflowImport/check_importance_params.json
  dolphinscheduler-api/src/test/resources/workflowImport/check_successful.json
Labels: bug, backend, test, document

#17243 [Improvement-17267] Throw exception if deserialize json failed in JSONUtils
  dolphinscheduler-alert/dolphinscheduler-alert-plugins/dolphinscheduler-alert-email/src/test/java/org/apache/dolphinscheduler/plugin/alert/email/ExcelUtilsTest.java
  dolphinscheduler-alert/dolphinscheduler-alert-plugins/dolphinscheduler-alert-feishu/src/test/java/org/apache/dolphinscheduler/plugin/alert/feishu/FeiShuSenderTest.java
  dolphinscheduler-alert/dolphinscheduler-alert-server/src/test/java/org/apache/dolphinscheduler/alert/runner/AlertSenderTest.java
  dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/service/impl/EnvironmentServiceImpl.java
  dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/service/impl/UsersServiceImpl.java
  dolphinscheduler-api/src/test/java/org/apache/dolphinscheduler/api/service/WorkflowInstanceServiceTest.java
  dolphinscheduler-common/src/main/java/org/apache/dolphinscheduler/common/constants/SystemConstants.java
  dolphinscheduler-common/src/main/java/org/apache/dolphinscheduler/common/utils/JSONUtils.java
  dolphinscheduler-common/src/test/java/org/apache/dolphinscheduler/common/utils/JSONUtilsTest.java
  dolphinscheduler-datasource-plugin/dolphinscheduler-datasource-api/src/test/resources/logback.xml
  dolphinscheduler-datasource-plugin/dolphinscheduler-datasource-hive/src/test/resources/logback.xml
  dolphinscheduler-extract/dolphinscheduler-extract-base/src/main/java/org/apache/dolphinscheduler/extract/base/serialize/JsonSerializer.java
  dolphinscheduler-extract/dolphinscheduler-extract-base/src/test/resources/logback.xml
  dolphinscheduler-master/src/test/java/org/apache/dolphinscheduler/server/master/integration/cases/WorkflowSchedulingTestCase.java
  dolphinscheduler-spi/src/main/java/org/apache/dolphinscheduler/spi/params/PluginParamsTransfer.java
  dolphinscheduler-task-plugin/dolphinscheduler-task-api/src/test/java/org/apache/dolphinscheduler/plugin/task/api/model/JSONUtilsTest.java
  dolphinscheduler-task-plugin/dolphinscheduler-task-api/src/test/resources/logback.xml
  dolphinscheduler-task-plugin/dolphinscheduler-task-datafactory/src/test/resources/logback.xml
  dolphinscheduler-task-plugin/dolphinscheduler-task-datasync/src/test/resources/logback.xml
  dolphinscheduler-task-plugin/dolphinscheduler-task-dms/src/test/resources/logback.xml
  dolphinscheduler-task-plugin/dolphinscheduler-task-emr/src/main/java/org/apache/dolphinscheduler/plugin/task/emr/AbstractEmrTask.java
  dolphinscheduler-task-plugin/dolphinscheduler-task-mlflow/src/test/resources/logback.xml
Labels: improvement, backend, test

#17289 [Improvement-17288] CodeGenerateException is swallowed in ProcessDefinitionDemo
  dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/python/PythonGateway.java
  dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/service/impl/EnvironmentServiceImpl.java
  dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/service/impl/K8SNamespaceServiceImpl.java
  dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/service/impl/ProjectParameterServiceImpl.java
  dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/service/impl/ProjectServiceImpl.java
  dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/service/impl/TaskDefinitionServiceImpl.java
  dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/service/impl/WorkflowDefinitionServiceImpl.java
  dolphinscheduler-api/src/test/java/org/apache/dolphinscheduler/api/python/PythonGatewayTest.java
  dolphinscheduler-api/src/test/java/org/apache/dolphinscheduler/api/service/ProjectParameterServiceTest.java
  dolphinscheduler-api/src/test/java/org/apache/dolphinscheduler/api/service/impl/EnvironmentServiceTest.java
  dolphinscheduler-service/src/main/java/org/apache/dolphinscheduler/service/process/ProcessService.java
  dolphinscheduler-service/src/main/java/org/apache/dolphinscheduler/service/process/ProcessServiceImpl.java
  dolphinscheduler-tools/src/main/java/org/apache/dolphinscheduler/tools/demo/CreateWorkflowDemo.java
  dolphinscheduler-tools/src/main/java/org/apache/dolphinscheduler/tools/demo/ProxyWorkflowDefinitionController.java
  dolphinscheduler-tools/src/main/java/org/apache/dolphinscheduler/tools/demo/WorkflowDefinitionDemo.java
Labels: improvement, backend, test
