Repository apache/dolphinscheduler, pull requests merged in 2025-04, with the labels that each got.

#17110 [Chore] Hotfix ci pending actions
  .github/workflows/api-test.yml
  .github/workflows/backend.yml
  .github/workflows/docs.yml
  .github/workflows/e2e-k8s.yml
  .github/workflows/e2e.yml
  .github/workflows/frontend.yml
  .github/workflows/unit-test.yml
Labels: UI, backend, CI&CD, e2e, chore

#17115 [Fix-17111][registry] Fix zookeeper registry start failed message.
  dolphinscheduler-registry/dolphinscheduler-registry-plugins/dolphinscheduler-registry-zookeeper/src/main/java/org/apache/dolphinscheduler/plugin/registry/zookeeper/ZookeeperRegistry.java
Labels: bug, backend

#17107 [Chore] Some release improvement
  docs/docs/en/contribute/backend/spi/alert.md
  docs/docs/en/contribute/release.md
  docs/docs/en/guide/task/dinky.md
  docs/docs/en/guide/task/mlflow.md
  docs/docs/zh/contribute/backend/spi/alert.md
  docs/docs/zh/contribute/release.md
  docs/docs/zh/guide/task/dinky.md
  docs/docs/zh/guide/task/mlflow.md
  dolphinscheduler-dist/pom.xml
  dolphinscheduler-dist/src/main/assembly/assembly-plugins.sh
  dolphinscheduler-dist/src/main/assembly/dolphinscheduler-bin.xml
  dolphinscheduler-ui/pom.xml
  script/install-plugins.sh
  tools/dependencies/known-dependencies.txt
Labels: UI, improvement, backend, document, chore

#17117 [Chore] Release 3.3.0-alpha
  .github/ISSUE_TEMPLATE/bug-report.yml
  docs/configs/index.md.jsx
  docs/configs/site.js
  docs/docs/en/history-versions.md
  docs/docs/zh/history-versions.md
Labels: CI&CD, document, chore

#17094 [Fix-16929][Meter] Fix startup failed when metrics is disabled.
  docs/docs/en/guide/metrics/metrics.md
  docs/docs/zh/guide/metrics/metrics.md
  dolphinscheduler-alert/dolphinscheduler-alert-server/src/main/resources/application.yaml
  dolphinscheduler-alert/dolphinscheduler-alert-server/src/test/resources/application.yaml
  dolphinscheduler-api-test/dolphinscheduler-api-test-case/src/test/resources/docker/ldap-login/application.yaml
  dolphinscheduler-api/src/main/resources/application.yaml
  dolphinscheduler-master/src/main/resources/application.yaml
  dolphinscheduler-master/src/test/resources/application.yaml
  dolphinscheduler-meter/src/main/java/org/apache/dolphinscheduler/meter/MeterAutoConfiguration.java
  dolphinscheduler-standalone-server/src/main/resources/application.yaml
  dolphinscheduler-worker/src/main/resources/application.yaml
Labels: bug, backend, test, e2e, document

#17120 [Chore] Add mistaken security vulnerabilities in security model
  docs/docs/en/contribute/join/security-model.md
  docs/docs/zh/contribute/join/security-model.md
Labels: improvement, document, ready-to-merge, chore

#17138 [Fix-17137][CLUSTER-MANAGE] Fix update time not effective
  dolphinscheduler-api/src/main/java/org/apache/dolphinscheduler/api/service/impl/ClusterServiceImpl.java
  dolphinscheduler-api/src/test/java/org/apache/dolphinscheduler/api/service/impl/ClusterServiceTest.java
Labels: bug, backend, test

#17145 [Fix-17040][sql] Preserve PL/pgSQL DO $$ blocks in PostgreSQL SQL splitting
  dolphinscheduler-datasource-plugin/dolphinscheduler-datasource-postgresql/src/main/java/org/apache/dolphinscheduler/plugin/datasource/postgresql/param/PostgreSQLDataSourceProcessor.java
  dolphinscheduler-datasource-plugin/dolphinscheduler-datasource-postgresql/src/test/java/org/apache/dolphinscheduler/plugin/datasource/postgresql/PostgreSQLDataSourceProcessorTest.java
Labels: bug, backend, test, priority:middle
